<div class="d-flex flex-wrap">
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="typeList" placeholder="Loại công việc"></mdb-select>
  </div>
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="statusList" placeholder="Trạng thái"></mdb-select>
  </div>
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="attendanceStatusList" placeholder="Điểm danh"></mdb-select>
  </div>
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="employeeList" placeholder="Người thực hiện"></mdb-select>
  </div>
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="placeList" placeholder="Nơi làm việc"></mdb-select>
  </div>
  <div class="col">
    <mdb-select [filterEnabled]="true" [options]="moreList" placeholder="Khác"></mdb-select>
  </div>
</div>