<div class="card card-cascade narrower">
  <section>
    <div class="row">
      <div class="col-xl-5 col-lg-12 mr-0">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Quản lý beacon</h2>
        </div>
      </div>
      <div class="card-body card-body-cascade pb-0">
        <div class="d-flex flex-wrap card-body pt-3">
          <!-- Grid row -->

          <!-- Grid column -->
          <div class="col-md-2">
            <!-- Add button -->
            <button title="Tạo mới beacon" mdbBtn type="button" color="success" rounded="true" size="sm" class="addNewButton w-75"
              mdbWavesEffect (click)="openCreateModal()">
              <i class="fa fa-plus"></i>
            </button>

          </div>
          <div class="col-md-10">
            <!-- Search -->
            <div class="md-form">
              <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInput>
              <label for="search">Tìm kiếm</label>
            </div>

            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Table-->
          <table class="table table-striped">

            <!--Table head-->
            <thead>
              <tr>
                <th>Tên</th>
                <th>UUID</th>
                <th>Minor</th>
                <th>Major</th>
                <th>Địa điểm</th>
                <th>Chi tiết</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr *ngFor="let data of search()">
                <td>{{ data.name }}</td>
                <td>{{ data.uuid }}</td>
                <td>{{ data.minor }}</td>
                <td>{{ data.major }}</td>
                <td>{{ (!data.workplace) ? 'Chưa thiết lập' : data.workplace.name }}</td>
                <td>{{ data.description }}</td>
                <td class="d-flex justify-content-center">
                  <button title="Cập nhật" mdbBtn type="button" rounded="true" color="primary" class="waves-light col"
                    size="sm" mdbWavesEffect (click)="openUpdateModal(data)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button title="Xóa" mdbBtn type="button" rounded="true" color="danger" class="waves-light col"
                    size="sm" mdbWavesEffect (click)="openDeleteModal(data.id)">
                    <i class="fa fa-ban"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <app-pagination class="w-100" *ngIf="beaconResponse?.totalPages > 1" [pageSize]="beaconResponse.size"
            [totalPage]="beaconResponse.totalPages" [currentPage]="beaconResponse.number"
            (changePage)="changePage($event)">
          </app-pagination>
          <div *ngIf="beaconResponse?.totalElements === 0" class="col-12 pt-5">
            <h6 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h6>
          </div>
          <!--Table-->
        </div>
      </div>
    </div>
  </section>
</div>
<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới beacon</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="md-form mt-0 mb-3 col-md-12">
          <input type="text" id="name" class="form-control" mdbInput [(ngModel)]="beaconCM.name">
          <label for="name">Tên</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-12">
          <input type="text" id="uuid" class="form-control" mdbInput [(ngModel)]="beaconCM.uuid">
          <label for="uuid">UUID</label>
        </div>
      
        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="major" class="form-control" mdbInput [(ngModel)]="beaconCM.major">
          <label for="major">Major</label>
        </div>
      
        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="minor" class="form-control" mdbInput [(ngModel)]="beaconCM.minor">
          <label for="minor">Minor</label>
        </div>
        
        <div class="md-form mt-0 mb-3 col-md-12">
          <textarea type="text" id="description" class="form-control md-textarea" mdbInput [(ngModel)]="beaconCM.description"></textarea>
          <label for="description">Chi tiết</label>
        </div>

        <!-- <div class="col-md-6 px-0">
          <div class="">
            <mdb-checkbox [(ngModel)]="haveWorkplace">Thêm địa điểm</mdb-checkbox>
          </div>
        </div> -->

        <!-- <div class="md-form mt-0 mb-3 col-md-6" *ngIf="haveWorkplace">
          <mdb-select [notFoundMsg]="'Không tìm thấy'" [options]="optionsSelect" placeholder="Địa điểm" [(ngModel)]="beaconCM.workplaceId"></mdb-select>
        </div> -->

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createBeacon()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="delete"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa beacon này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeBeacon()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>