<div class="card card-cascade narrower" id="company">
  <section>
    <div class="row">
      <div class="col-xl-6 col-lg-12 mr-0">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Danh sách công ty</h2>
        </div>
      </div>
      <div *ngIf="userAccount.roleId === 1" class="col-xl-6 col-lg-12 px-5 pt-3 text-right">
        <!-- <mdb-select class="col-10" [label]="'Trạng thái công ty'" [options]="companyStatusList"
          [(ngModel)]="currentStatus" (selected)="getCompany();"></mdb-select> -->
        <a class="col-2 btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i>
        </a>
      </div>
      <div class="card-body card-body-cascade pb-0 d-flex flex-wrap w-100">

          <div [ngClass]="{'col-xl-12' : userAccount.roleId === 2, 'col-xl-8' : userAccount.roleId === 1}" class="col-lg-12 pl-5 pr-3">
          <!-- Search -->
          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" mdbInput (keyup)="search()">
            <label>Tìm kiếm</label>
          </div>

        </div>
        <div *ngIf="userAccount.roleId === 1" class="col-xl-4 col-lg-12 pl-3 pr-5 pt-4">
          <mdb-select [label]="'Trạng thái công ty'" [options]="companyStatusList"
            [(ngModel)]="currentStatus" (selected)="getCompany();"></mdb-select>
        </div>

        <div class="col-md-6 mb-4" *ngFor="let c of companyList; let i of index">

          <!--Card-->
          <mdb-card cascade="true" narrower="true">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect [routerLink]="['/zone', c.id]">
              <mdb-card-img src="{{c.picture || defaultImage}}"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->

            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->

              <!--Title-->
              <h4 class="card-title">{{c.name}}</h4>
              <!--Text-->

              <mdb-card-text>
                <i class="fa fa-map-marker mr-2"></i>{{c.address}}
                <br>
                <i class="fa fa-phone mr-2"></i>{{c.phone}}
              </mdb-card-text>

              <agm-map [latitude]="c.latitude" [longitude]="c.longitude" [zoom]="location.zoom" style="height: 200px">
                <agm-marker [latitude]="c.latitude" [longitude]="c.longitude"></agm-marker>
              </agm-map>


              <button title="Cập nhật" mdbBtn type="button" rounded="true" color="primary" class="waves-light"
                *ngIf="userAccount.roleId === 1 && currentStatus !== 0" mdbWavesEffect (click)="openUpdateModal(c)">
                <i class="fa fa-pencil"></i>
              </button>
              <button title="Xóa" mdbBtn type="button" rounded="true" color="danger" class="waves-light" mdbWavesEffect
                *ngIf="userAccount.roleId === 1 && currentStatus !== 0" (click)="checkRemovable(c.id)">
                <i class="fa fa-ban"></i>
              </button>

            </mdb-card-body>
            <!--/.Card content-->

          </mdb-card>
          <!--/.Card-->
        </div>
        <div *ngIf="companyResponse?.numberOfElements === 0" class="text-left col-11 mx-auto pb-3">
          <h5 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h5>
        </div>
  
        <app-pagination *ngIf="companyResponse?.totalPages > 1" [pageSize]="companyResponse.size"
          [totalPage]="companyResponse.totalPages" [currentPage]="companyResponse.number" (changePage)="changePage($event)">
        </app-pagination>
      </div>
    </div>
  </section>
</div>
<!--/.Card-->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới công ty</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        
        <form (ngSubmit)="createCompany()" #createForm="ngForm" class="d-flex flex-wrap w-100">
          <div class="col-md-12 text-left pb-2 px-0">
            <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
          </div>
          
          <div class="md-form mt-0 mb-3 col-md-12">
            <input 
              type="text" 
              id="name" 
              name="name" 
              class="form-control" 
              mdbInput
              required
              #name=ngModel
              [(ngModel)]="companyCM.name"
              [class.ng-invalid.validate-error]="(name.invalid && (name.dirty || name.touched))"
              >
            <label for="name">Tên*</label>
            
            <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name?.errors?.required" class="font-weight-normal">Vui lòng nhập tên công ty</span>
            </mdb-error>

          </div>

          <div class="md-form my-3 col-md-12">
            <input 
              type="text" 
              id="phone" 
              name="phone" 
              class="form-control" 
              mdbInput
              required
              #phone=ngModel
              [(ngModel)]="companyCM.phone"
              [class.ng-invalid.validate-error]="(phone.invalid && (phone.dirty || phone.touched))"
              >
            <label for="phone">Số điện thoại*</label>
            
            <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
              <span *ngIf="phone?.errors?.required" class="font-weight-normal">Vui lòng nhập số điện thoại</span>
            </mdb-error>

          </div>

          <div class="col-md-12">
            <div class="md-form my-3 form-inline mr-auto w-100">

              <input
                type="text"
                class="form-control w-100"
                id="searchField"
                name="searchField"
                mdbInput
                required
                #address=ngModel
                [class.ng-invalid.validate-error]="(address.invalid && (address.dirty || address.touched))"
                [(ngModel)]='location.address_level_1'
                (keyup)="updateOnMap()"
                >
                
              <label for="searchField">Địa chỉ*</label>

              <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
                <span *ngIf="address?.errors?.required" class="font-weight-normal">Vui lòng nhập địa chỉ</span>
              </mdb-error>

            </div>
          </div>

          <div class="col-md-12">
            <agm-map #map [mapTypeId]="'terrain'" [latitude]="location.lat" [longitude]="location.lng"
              [zoom]="location.zoom" style="height: 300px">
              <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
            </agm-map>
          </div>
  
          <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
            <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
                (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
            </div>
            <div class="file-path-wrapper mt-3">
              <input class="file-path" type="text" placeholder="Chọn hình ảnh tải lên" [value]="showFiles()" disabled>
            </div>
          </div>
          <div class="col text-center" *ngIf="url">
            <img [src]="url" height="150">
          </div>
  
          <div class="col-12 text-center mt-3 border-top pt-3">
            <button mdbBtn color="success" class="waves-light" mdbWavesEffect [disabled]="!createForm.form.valid">Tạo mới
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa công ty này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
        <p class="h6 font-weight-bold">
          Bạn có muốn tiếp tục xóa?
        </p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeCompany()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #warning="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Cảnh báo</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-warning fa-4x animated rotateIn"></i>
        <div *ngFor="let m of warningMessage">
          <p class="h6 font-weight-bold">
            {{m}}
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="warning.hide()">Đóng</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>