<div class="card card-cascade narrower" id="company">
  <section>
    <div class="row">
      <div class="col-xl-6 col-lg-12 mr-0">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Danh sách công ty</h2>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 px-5 pt-3 text-right">
        <a *ngIf="userAccount.roleId === 1" class="btn-floating btn-md btn-success" (click)="openCreateModal()"><i
            class="fa fa-plus"></i></a>
      </div>
      <div class="card-body card-body-cascade pb-0 d-flex flex-wrap">


        <div class="col-md-6 mb-4" *ngFor="let c of companyList; let i of index">

          <!--Card-->
          <mdb-card cascade="true" narrower="true">

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect [routerLink]="['/zone', c.id]">
              <mdb-card-img src="{{c.picture}}"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->

            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->

              <!--Title-->
              <h4 class="card-title">{{c.name}}</h4>
              <!--Text-->

              <mdb-card-text>
                <i class="fa fa-map-marker mr-2"></i>{{c.address}}
                <br>
                <i class="fa fa-phone mr-2"></i>{{c.phone}}
              </mdb-card-text>

              <agm-map [latitude]="c.latitude" [longitude]="c.longitude" [zoom]="location.zoom" style="height: 200px">
                <agm-marker [latitude]="c.latitude" [longitude]="c.longitude"></agm-marker>
              </agm-map>


              <button title="Cập nhật" mdbBtn type="button" rounded="true" color="primary" class="waves-light"
                *ngIf="userAccount.roleId === 1" mdbWavesEffect (click)="openUpdateModal(c)">
                <i class="fa fa-pencil"></i>
              </button>
              <button title="Xóa" mdbBtn type="button" rounded="true" color="danger" class="waves-light" mdbWavesEffect
                *ngIf="userAccount.roleId === 1" (click)="openDeleteModal(c.id)">
                <i class="fa fa-ban"></i>
              </button>

            </mdb-card-body>
            <!--/.Card content-->

          </mdb-card>
          <!--/.Card-->
        </div>
      </div>
      <app-pagination *ngIf="companyResponse?.totalPages > 1" [pageSize]="companyResponse.size"
        [totalPage]="companyResponse.totalPages" [currentPage]="companyResponse.number"
        (changePage)="changePage($event)">
      </app-pagination>
    </div>
  </section>
</div>
<!--/.Card-->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới công ty</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="col-md-12">
          <div class="md-form mt-0 mb-3">
            <input type="text" id="name" class="form-control" mdbInput [(ngModel)]="companyCM.name">
            <label for="name">Tên</label>
          </div>
        </div>

        <div class="col-md-12">
          <div class="md-form mt-0 mb-3">
            <input type="text" id="phone" class="form-control" mdbInput [(ngModel)]="companyCM.phone">
            <label for="phone">Số điện thoại</label>
          </div>
        </div>


        <div class="col-md-12">
          <div class="md-form mt-0 mb-3">
            <input type="text" [(ngModel)]='location.address_level_1' class="form-control" id="searchField" mdbInput>
            <label for="searchField">Địa chỉ công ty</label>

          </div>
          <div class="row">
            <div class="col-md-12 d-flex flex-center">
              <button mdbBtn color="primary" mdbWavesLight (click)='updateOnMap()' type="submit">
                Tìm kiếm
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <agm-map #map [mapTypeId]="'terrain'" [latitude]="location.lat" [longitude]="location.lng"
            [zoom]="location.zoom" style="height: 300px">
            <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
          </agm-map>
        </div>

        <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
          <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
              (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Chọn hình ảnh tải lên" [value]="showFiles()">
          </div>
        </div>
        <div class="col text-center" *ngIf="url">
          <img [src]="url" height="150">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createCompany()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa công ty này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeCompany()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>