.profile-text {
  color: #747373;
  font-size: 1rem;
  font-weight: 400;
}
mdb-flipping-card mdb-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
}
.rotate-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  color: #007bff !important;
}
a.btn-floating.btn-md.btn-success {
  position: absolute;
  top: 0;
  left: 85%;
  transform: translate(-50%, -50%);
}
.list-avatar {
  width: 70px !important;
  height: 70px !important;
  // border-radius: 50%;
  // outline: 5px solid white;
}