<div class="container" id="manager-detail">
  <div class="row">
    <div class="col-md-4 mb-4">
      <mdb-flipping-card #cards>
        <!--Front Side-->
        <div class="face front tp-box_side tp-box_front">

          <!-- Image-->
          <div class="card-up blue-gradient lighten-1">
            <img src="assets/background-profile.jpg" class="img-fluid">
          </div>
          <!--Avatar-->
          <div class="avatar">
            <img src="{{ manager.picture }}" class="rounded-circle img-responsive">
          </div>
          <!--Content-->
          <div class="card-body">
            <h4>{{ manager.fullName }}</h4>
            <p class="text-danger">Chức vụ: Quản lý</p>
            <a class="rotate-btn" data-card="card-1" (click)="cards.toggle()">Chi tiết </a>
            <!--Triggering button-->
          </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="back tp-box_side tp-box_back">

          <!--Content-->
          <h4>Thông tin chi tiết</h4>
          <hr>

          <mdb-card-text style="text-align: left" class="profile-text">
            <i class="fa fa-birthday-cake mr-2 mb-3"></i>
            <span class="mb-3">Sinh nhật: {{ manager.birthDate | date: 'dd-MM-yyyy' }}</span>
            <br>
            <i class="fa fa-phone mr-2 mb-3"></i>
            <span class="mb-3">Số điện thoại: {{ manager.phoneNumber }}</span>
            <br>
            <i class="fa fa-envelope-open-o mr-2 mb-3"></i>
            <span class="mb-3">Email: {{ manager.email }}</span>
            <br>
            <i class="fa fa-map-marker mr-2 mb-3"></i>
            <span class="mb-3">Địa chỉ: {{ manager.address }}</span>
          </mdb-card-text>

          <!--Triggering button-->
          <a class="rotate-btn" data-card="card-1" (click)="cards.toggle()">Trở lại</a>

        </div>
        <!--/.Back Side-->
      </mdb-flipping-card>
    </div>
    <div class="col-md-7 mb-4 mx-auto">
      <!-- <div class="view-all-button row">
        <div class="col pr-0">
          <p class="h5">Công việc trong ngày</p>
        </div>
        <div class="col pl-0">
          <a [routerLink]="['/task']" class="link">Xem tất cả</a>
        </div>
      </div>
      <mdb-card class="mt-3">
        <mdb-card-body>
          <div class="list-group">
            <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect *ngFor="let i of [1,2,3]"
              [routerLink]="['/task-detail', i]">
              <i class="fa fa-trash mt-2 col"></i>
              <div class="col-11">
                OEM-{{i+20}} Dọn vệ sinh tầng {{i}}
                <br>
                <small>Từ {{i+5}} giờ sáng đến {{i+6}}h30 sáng</small>
              </div>
            </a>
            <div class="list-group" mdbCollapse #moreEmp="bs-collapse">
              <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect *ngFor="let i of [6,7,8]">
                <i class="fa fa-trash mt-2 col"></i>
                <div class="col-11">
                  OEM-{{i+20}} Dọn vệ sinh tầng {{i}}
                  <br>
                  <small>Từ {{i+5}} giờ sáng đến {{i+6}}h30 sáng</small>
                </div>
              </a>
            </div>
            <button mdbBtn color="primary" class="waves-light btn-sm" type="button" *ngIf="!isShowMore2" (click)="moreEmp.toggle(); isShowMore2 = true"
              mdbWavesEffect>
              Hiện thêm
            </button>
            <button mdbBtn color="primary" class="waves-light btn-sm" type="button" *ngIf="isShowMore2" [routerLink]="['/task']"
              mdbWavesEffect>
              Xem tất cả
            </button>
          </div>
        </mdb-card-body>
      </mdb-card> -->
      <div class="view-all-button row mt-4">
        <div class="col pr-0">
          <p class="h5">Nhân viên đang quản lý</p>
        </div>
        <div class="col pl-0">
          <a [routerLink]="['/laborer']" class="link">Xem tất cả</a>
          <a class="btn-floating btn-md btn-success" (click)="openCreateEmployeeModal()"><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <!-- Card -->
      <mdb-card class="mt-3">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>

          <!--Text-->
          <div class="list-group">
            <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect *ngFor="let i of [1,2,3]"
              [routerLink]="['/task-detail', i]">
              <i class="fa fa-user mt-2 col"></i>
              <div class="col-11">
                Nguyễn Minh Quân
                <br>
                <small>Nơi làm việc: Tòa nhà A</small>
              </div>
            </a>
            <div class="list-group" mdbCollapse #moreTask="bs-collapse">
              <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect *ngFor="let i of [6,7,8]">
                <i class="fa fa-user mt-2 col"></i>
                <div class="col-11">
                  Nguyễn Minh Quân
                  <br>
                  <small>Nơi làm việc: Tòa nhà A</small>
                </div>
              </a>
            </div>
            <button mdbBtn color="primary" class="waves-light btn-sm" type="button" *ngIf="!isShowMore1" (click)="moreTask.toggle(); isShowMore1 = true"
              mdbWavesEffect>
              Hiện thêm
            </button>
            <button mdbBtn color="primary" class="waves-light btn-sm" type="button" *ngIf="isShowMore1" [routerLink]="['/laborer']"
              mdbWavesEffect>
              Xem tât cả
            </button>
          </div>
        </mdb-card-body>
      </mdb-card>

      <a class="btn-floating btn-md btn-success" (click)="openCreateWorkplaceModal()">
        <!-- <i class="fa fa-plus"></i> -->
        Test
      </a>

    </div>
  </div>
</div>

<div mdbModal #createEmployeeModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm nhân viên cho người quản lý</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="createEmployeeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="col-12">
          <div class="md-form my-3">
            <mdb-select [filterEnabled]="true" [options]="employeeList" (selected)="selectEmployee($event)"></mdb-select>
            <label>Nhân viên</label>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="addEmployeeForManager()">Thêm nhân viên
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #createWorkplaceModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm khu vực cho người quản lý</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="createWorkplaceModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="col-12 md-form my-3">
          <mdb-select [filterEnabled]="true" [options]="companyList" (selected)="selectCompany($event)"></mdb-select>        
          <label>Công ty</label>
        </div>
        <div class="col-12 md-form my-3" *ngIf="isSelectCompany">
          <mdb-select [filterEnabled]="true" [options]="zoneList" (selected)="selectZone($event)"></mdb-select>        
          <label>Khu vực</label>
        </div>
        <div class="col-12 md-form my-3" *ngIf="isSelectZone">
          <mdb-select [filterEnabled]="true" [options]="placeList" (selected)="selectWorkplace($event)"></mdb-select>        
          <label>Địa điểm</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="addWorkplaceForManager()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>