<div class="container" id="manager-detail">
  <div class="row">
    <div class="col-md-4 mb-4">
      <mdb-flipping-card #cards>
        <!--Front Side-->
        <div class="face front tp-box_side tp-box_front">

          <!-- Image-->
          <div class="card-up blue-gradient lighten-1">
            <img src="assets/background-profile.jpg" class="img-fluid">
          </div>
          <!--Avatar-->
          <div class="avatar">
            <img src="{{ manager.picture }}" class="rounded-circle img-responsive">
          </div>
          <!--Content-->
          <div class="card-body">
            <h4>{{ manager.firstName }} {{ manager.lastName }}</h4>
            <p class="text-danger font-weight-normal">Chức vụ: Quản lý</p>
            <a class="rotate-btn font-weight-normal" data-card="card-1" (click)="cards.toggle()">Chi tiết </a>
            <!--Triggering button-->
          </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="back tp-box_side tp-box_back">

          <!--Content-->
          <h4>Thông tin chi tiết</h4>
          <hr>

          <mdb-card-text style="text-align: left" class="profile-text">
            <i class="fa fa-birthday-cake mr-2 mb-3"></i>
            <span class="mb-3">Sinh nhật: {{ manager.birthDate | date: 'dd-MM-yyyy' }}</span>
            <br>
            <i class="fa fa-phone mr-2 mb-3"></i>
            <span class="mb-3">Số điện thoại: {{ manager.phoneNumber }}</span>
            <br>
            <i class="fa fa-envelope-open-o mr-2 mb-3"></i>
            <span class="mb-3">Email: {{ manager.email }}</span>
            <br>
            <i class="fa fa-map-marker mr-2 mb-3"></i>
            <span class="mb-3">Địa chỉ: {{ manager.address }}</span>
          </mdb-card-text>

          <!--Triggering button-->
          <a class="rotate-btn font-weight-normal" data-card="card-1" (click)="cards.toggle()">Trở lại</a>

        </div>
        <!--/.Back Side-->
      </mdb-flipping-card>
    </div>
    <div class="col-md-7 mb-4 mx-auto">
      <!-- Card -->
      <mdb-card class="mt-3" cascade="true">

        <!--Card content-->
        <mdb-card-body cascade="true" class="text-left">
          <mdb-card-title class="d-flex flex-wrap">
            <div class="col pr-0">
              <p class="h5">Nhân viên đang quản lý</p>
            </div>
            <div class="col pl-0">
              <a [routerLink]="['/employee']" class="link">Xem tất cả</a>
              <a class="btn-floating btn-md btn-success" (click)="openCreateEmployeeModal()"><i
                  class="fa fa-plus"></i></a>
            </div>
          </mdb-card-title>

          <!--Text-->
          <div class="list-group">
            <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect
              *ngFor="let e of employeeListByManager">
              <div class="avatar" [routerLink]="['/employee-detail', e.id]">
                <img [src]="e.picture" alt="" class="rounded-circle img-responsive list-avatar">
              </div>
              <div class="col-9" [routerLink]="['/employee-detail', e.id]">
                {{e.firstName}} {{e.lastName}}
                <br>
                <small>Địa chỉ: {{e.address}}</small>
                <br>
                <small>Số điện thoại: {{e.phoneNumber}}</small>
              </div>
              <div class="col-2">
                <button mdbBtn type="button" color="danger" size="sm" rounded="true" mdbWavesEffect
                  (click)="openRemoveEmployeeModal(e.id)">
                  <i class="fa fa-ban"></i>
                </button>
              </div>
            </a>
            <div *ngIf="employeeResponseByManager?.numberOfElements === 0">
              <span class="text-danger pl-3">Chưa quản lý nhân viên nào</span>
            </div>
            <app-pagination *ngIf="employeeResponseByManager?.totalPages > 1"
              [pageSize]="employeeResponseByManager.size" [totalPage]="employeeResponseByManager.totalPages"
              [currentPage]="employeeResponseByManager.number" (changePage)="changePage1($event)">
            </app-pagination>
          </div>
        </mdb-card-body>
      </mdb-card>
      <mdb-card class="mt-3">
        <mdb-card-body cascade="true" class="text-left">
          <mdb-card-title class="d-flex flex-wrap">
            <div class="col pr-0">
              <p class="h5">Nơi làm việc đang quản lý</p>
            </div>
            <div class="col pl-0">
              <a [routerLink]="['/company']" class="link">Xem tất cả</a>
              <a class="btn-floating btn-md btn-success" (click)="openCreateWorkplaceModal()"><i
                  class="fa fa-plus"></i></a>
            </div>
          </mdb-card-title>
          <div class="list-group">
            <a class="list-group-item list-group-item-action waves-light d-flex" mdbWavesEffect
              *ngFor="let wp of workplaceListByManager">
              <div class="avatar">
                <img [src]="wp.picture" alt="" class="rounded-circle img-responsive list-avatar">
              </div>
              <div class="col-9">
                {{wp.name}}
                <br>
                <small>{{wp.description}}</small>
              </div>
              <div class="col-2">
                <button mdbBtn type="button" color="danger" size="sm" rounded="true" mdbWavesEffect
                  (click)="openRemoveWorkplaceModal(wp.id)">
                  <i class="fa fa-ban"></i>
                </button>
              </div>
            </a>
            <app-pagination *ngIf="workplaceResponseByManager?.totalPages > 1"
              [pageSize]="workplaceResponseByManager.size" [totalPage]="workplaceResponseByManager.totalPages"
              [currentPage]="workplaceResponseByManager.number" (changePage)="changePage2($event)">
            </app-pagination>
          </div>
          <div *ngIf="workplaceResponseByManager.numberOfElements === 0">
            <span class="text-danger pl-3">Chưa quản lý nơi làm việc nào</span>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<div mdbModal #createEmployeeModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm nhân viên cho người quản lý</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="createEmployeeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="col-12">
          <div class="md-form my-3">
            <mdb-select [label]="'Nhân viên'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="employeeList"
              (selected)="selectEmployee($event)"></mdb-select>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="addEmployeeForManager()">Thêm
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #createWorkplaceModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm khu vực cho người quản lý</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="createWorkplaceModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="col-12 md-form my-3">
          <mdb-select [label]="'Công ty'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="companyList"
            (selected)="selectCompany($event)"></mdb-select>
        </div>
        <div class="col-12 md-form my-3" *ngIf="isSelectCompany">
          <mdb-select [label]="'Khu vực'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="zoneList"
            (selected)="selectZone($event)"></mdb-select>
        </div>
        <div class="col-12 md-form my-3" *ngIf="isSelectZone">
          <mdb-select [label]="'Nơi làm việc'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="placeList"
            (selected)="selectWorkplace($event)"></mdb-select>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="addWorkplaceForManager()">Thêm
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #removeEmp="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa khỏi danh sách quản lý?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
          (click)="removeEmployeeByManager()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="removeEmp.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #removeWp="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa khỏi danh sách quản lý?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
          (click)="removeWorkplaceByManager()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="removeWp.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>