<div class="card card-cascade narrower" id="place">
  <section>
    <div class="row">
      <div class="col-xl-6 col-lg-12 mr-0">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Quản lý nơi làm việc</h2>
        </div>
      </div>
      <div *ngIf="userAccount.roleId === 1" class="col-xl-6 col-lg-12 px-5 pt-3 text-right">
        <a class="col-2 btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i>
        </a>
      </div>
      <div *ngIf="userAccount.roleId === 2" class="col-xl-6 col-lg-12 px-5 pt-3">
        <div class="col-12 px-0 d-flex flex-wrap w-100">
          <mdb-select class="col pl-0" [label]="'Nơi làm việc'" [options]="viewOptions"
            (selected)="changeViewOption($event)" [ngModel]="currentViewOption"></mdb-select>
          <mdb-select class="col px-0" [label]="'Chế độ xem'" [options]="viewTypes" [ngModel]="currentViewType" (selected)="changeViewType($event)">
          </mdb-select>
        </div>
      </div>
      <div class="card-body card-body-cascade pb-0 d-flex flex-wrap w-100 pt-1">

        <div class="d-flex flex-wrap w-100 pb-3">
          <h4
            class="col-8 text-left mt-auto mx-auto" *ngIf="!showAll">
            <span routerLink="/company" style="cursor: pointer; color: #007bff"> {{companyName}} </span>
            <span (click)="location.back()" style="cursor: pointer; color: #007bff; font-size: 20px;">
              <span *ngIf="companyName"> - </span>
              {{zoneName}}
              <span *ngIf="companyName"> - </span>
              <span *ngIf="currentStatus === 0 && companyName"
                class="text-danger font-weight-normal" style="font-size: 18px">Đã xóa</span>
              <span *ngIf="currentStatus === 1 && companyName" class="text-success"
                style="font-size: 18px">Đang mở</span>
              <span *ngIf="currentStatus === 2 && companyName" class="text-muted"
                style="font-size: 18px">Đang tạm đóng</span>
            </span>
          </h4>
          <h4
            class="col-8 text-left mt-auto mx-auto" *ngIf="showAll">
            <span style="color: #007bff">Tất cả nơi làm việc đang quản lý - </span>
            <span *ngIf="currentStatus === 0"
                class="text-danger font-weight-normal" style="font-size: 18px">Đã xóa</span>
              <span *ngIf="currentStatus === 1" class="text-success"
                style="font-size: 18px">Đang mở</span>
              <span *ngIf="currentStatus === 2" class="text-muted"
                style="font-size: 18px">Đang tạm đóng</span>
          </h4>

          <div class="col-xl-3 col-lg-12 px-4">
            <owl-form-field class="col px-0" *ngIf="userAccount.roleId === 2">
              <input owlInput [owlDateTimeTrigger]="dateSearchInput" [owlDateTime]="dateSearchInput"
                placeholder="Công việc vào ngày" [(ngModel)]="dateSearch" (dateTimeChange)="getPlace()">
              <owl-date-time #dateSearchInput [pickerType]="'calendar'"></owl-date-time>
            </owl-form-field>
          </div>
          
        </div>
        <div class="col-xl-8 pl-xl-5 col-lg-12 px-4">
            <!-- Search -->
          <div class="md-form m-0">
            <input type="text" [(ngModel)]="searchText" class="form-control" mdbInput (keyup)="search()">
            <label>Tìm kiếm</label>
          </div>

        </div>
        <div class="col-xl-4 pr-xl-5 pt-xl-0 col-lg-12 pt-4 px-4">
          <div class="col-12 px-0 d-flex flex-wrap w-100">
            <mdb-select class="col px-0" [label]="'Trạng thái nơi làm việc'" [options]="workplaceStatusList"
              [(ngModel)]="currentStatus" (selected)="getPlace();"></mdb-select>
          
          </div>
        </div>
        <div *ngIf="currentViewType == 1" class="d-flex flex-wrap w-100 animated zoomIn pt-3">

          <div class="col-md-4 mb-4" *ngFor="let p of placeList; let i = index">

            <mdb-flipping-card #card>
              <!--Front Side-->
              <div class="face front card tp-box_side tp-box_front">
                <!-- Image-->
                <div class="card-up">
                  <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                    <img [src]="p.picture || defaultImage" class="img-fluid" alt="workplaceImg">
                  </div>
                </div>

                <a *ngIf="userAccount.roleId === 2"
                  class="btn-floating btn-action ml-auto mr-4 mdb-color info-color waves-light" (click)="card.toggle()"
                  mdbWavesEffect>
                  <mdb-icon icon="chevron-right" mdbWavesEffect></mdb-icon>
                </a>

                <!--Content-->
                <div class="content" *ngIf="p.status !== 0">
                  <h4 style="cursor: pointer; color: #007bff">{{p.name}}</h4>
                  <div class="col-12 px-0" *ngIf="userAccount.roleId === 1">
                    <div class="d-flex flex-wrap w-100">
                      <div class="col-7 px-0">
                        Người quản lý
                        <br>
                        <span class="text-danger font-weight-normal" *ngIf="p.managerId !== 0">{{p.managerName}}</span>
                        <span class="text-danger font-weight-normal" *ngIf="p.managerId === 0">Chưa có người quản
                          lý</span>
                      </div>
                      <div class="col-5 px-0 text-right">
                        <a *ngIf="p.managerId === 0" mdbBtn floating="true" size="sm" color="success" mdbWavesEffect>
                          <i class="fa fa-plus" (click)="openManagerModal(p.id, 1)"></i>
                        </a>
                        <a *ngIf="p.managerId !== 0" mdbBtn floating="true" size="sm" color="primary" mdbWavesEffect>
                          <i class="fa fa-pencil" (click)="openManagerModal(p.id, 2, p.managerId)"></i>
                        </a>
                        <a *ngIf="p.managerId !== 0" mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect>
                          <i class="fa fa-trash" (click)="openManagerModal(p.id, 3, p.managerId)"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div *ngIf="userAccount.roleId === 2">
                    <p>Số lần phải dọn:
                      <span class="text-danger font-weight-bold h6">{{p.numberOfReworks}}</span>
                      <button class="float-right my-auto" *ngIf="userAccount.roleId === 2"
                        title="Cập nhật số lần làm việc" mdbBtn type="button" color="primary" size="sm" rounded="true"
                        mdbWavesEffect (click)="openUpdateModal(p)">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </p>
                    <p>Công việc đã giao:
                      <span *ngIf="p.taskList.length < p.numberOfReworks" class="font-weight-bold text-danger">
                        {{p.taskList.length}}
                      </span>
                      <span *ngIf="p.taskList.length >= p.numberOfReworks" class="text-success font-weight-bold">
                        {{p.taskList.length}} - Đã đủ
                        <i class="fa fa-check mr-2" color="success"></i>
                      </span>
                    </p>

                  </div>
                  <div class="switch rounded blue-white-switch text-center" *ngIf="userAccount.roleId === 1">
                    <label>
                      Đóng
                      <input type="checkbox" (change)="switch($event, p.id)" [checked]="p.status === 1">
                      <span class="lever"></span> Mở
                    </label>
                  </div>
                  <div class="d-flex flex-wrap w-100 justify-content-center" id="action-button">
                    <button title="Thêm beacon cho nơi này" mdbBtn type="button" color="success" rounded="true"
                      mdbWavesEffect size="sm" (click)="openBeaconModal(p.id)"
                      *ngIf="userAccount.roleId === 1 && (p.setToBeacon === false)">Thêm
                      beacon</button>
                    <button title="Gỡ beacon khỏi nơi này" mdbBtn type="button" color="warning" rounded="true"
                      mdbWavesEffect size="sm" (click)="checkRemoveBeacon(p?.beaconId)"
                      *ngIf="userAccount.roleId === 1 && p.setToBeacon">Gỡ
                      beacon</button>
                    <button title="Tạo công việc mới cho nơi này " mdbBtn type="button" color="success" rounded="true"
                      mdbWavesEffect (click)="openCreateTaskModal(p.id, i)"
                      *ngIf="userAccount.roleId === 2 && canCreateTask">Tạo
                      công việc</button>
                    <button *ngIf="userAccount.roleId === 1" title="Cập nhật nơi làm việc" mdbBtn type="button"
                      color="primary" rounded="true" mdbWavesEffect size="sm" (click)="openUpdateModal(p)">
                      Sửa
                    </button>
                    <button title="Xóa nơi làm việc" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect
                      size="sm" (click)="checkRemovable(p.id)" *ngIf="userAccount.roleId === 1">
                      Xóa
                    </button>
                  </div>
                </div>
                <div class="content my-auto text-center" *ngIf="p.status === 0">
                  <h4 style="cursor: pointer; color: #007bff">{{p.name}}</h4>
                  <h6>Miêu tả: {{p.description}}</h6>
                </div>
                <!--/.Content-->

              </div>
              <!--/.Front Side-->

              <!--Back Side-->
              <div class="face back tp-box_side tp-box_back">
                <div class="d-flex justify-content-center flex-wrap pt-3">
                  <div *ngIf="p?.basicTaskList?.length !== 0">
                    <p class="h5 pt-3">Công việc trong ngày</p>
                    <div *ngFor="let t of p.taskList; let idx2 = index" class="col-12">
                      {{ idx2 + 1 }}. {{ t.assignee }}: {{ t.startTime | date: 'HH:mm' }} ~
                      {{ t.endTime | date: 'HH:mm' }}
                    </div>
                    <div *ngIf="p.taskList.length === 0">
                      <span class="text-danger font-weight-normal">Không có công việc trong ngày</span>
                    </div>
                  </div>
                  <p class="h5">Công việc phải làm</p>
                  <div *ngFor="let bt of p.basicTaskList; let idx1 = index" class="col-12">
                    {{ idx1 + 1 }}. {{ bt.title }}
                  </div>
                  <div *ngIf="p?.basicTaskList?.length === 0">
                    <span class="text-danger font-weight-normal">Chưa thêm công việc cho nơi này</span>
                  </div>
                  <button *ngIf="userAccount.roleId === 2" title="Thêm xóa sửa công việc" mdbBtn type="button"
                    rounded="true" color="primary" class="waves-light list-btn" mdbWavesEffect
                    (click)="openTaskBasicModal(p.basicTaskList, p.id)">
                    <i class="mr-2 fa fa-list-ol"></i>Danh sách công việc
                  </button>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                  <a class="rotate-btn" p-card="card-1" (click)="card.toggle()">Trở lại</a>
                </div>

                <!--Social Icons-->

              </div>
              <!--/.Back Side-->
            </mdb-flipping-card>
          </div>
        </div>


        <table class="table table-hover animated fadeIn pt-3" *ngIf="currentViewType == 2">

          <!--Table head-->
          <thead>
            <tr>
              <th>Mã nơi làm việc</th>
              <th class="text-center">Hình ảnh</th>
              <th>
                Tên
              </th>
              <th>
                Số lần phải dọn tối thiểu
              </th>
              <th>
                Số công việc đã giao
              </th>
              <th>
                Beacon
              </th>
              <th [ngStyle]="userAccount.roleId === 1 && {'width': '300px', 'max-width': '300px'}"
                *ngIf="!showRemovedEmp">Xem chi tiết</th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let p of placeList; let i of index">
              <td>{{p.id}}</td>
              <td scope="row" style="position: relative; width: 120px">
                <img src="{{p.picture || defaultImage}}" alt="image" class="avatar">
              </td>
              <td>{{p.name}}</td>
              <td contenteditable="true"
              (keyup)="changeValue($event)"
              (blur)="updateNumberOfReworks(p.id, 'numberOfReworks', $event)">{{p.numberOfReworks}}</td>
              <td style="position: relative">
                <div class="text-number-of-reworks">
                  <span 
                    *ngIf="p.taskList.length < p.numberOfReworks"
                    class="text-weight-normal">
                    {{p.taskList.length}}
                  </span>
                  <span *ngIf="p.taskList.length >= p.numberOfReworks" class="text-success font-weight-normal">
                    {{p.taskList.length}}<span *ngIf="canCreateTask"> - đã đủ</span>
                    <i class="fa fa-check mr-2" color="success" *ngIf="canCreateTask"></i>
                  </span>
                  <span *ngIf="userAccount.roleId === 2 && !canCreateTask" class="text-danger font-weight-normal"> - đã quá thời gian hiện tại
                  </span>
                </div>
                <span *ngIf="userAccount.roleId === 2 && canCreateTask" class="text-danger font-weight-normal">
                  <span *ngIf="p.taskList.length < p.numberOfReworks" class="float-right pr-4">
                    <button title="Tạo công việc cho nơi này" mdbBtn type="button" color="success" rounded="true"
                      mdbWavesEffect size="md" (click)="openCreateTaskModal(p.id, i)"
                      *ngIf="userAccount.roleId === 2 && (p.taskList.length < p.numberOfReworks) && canCreateTask">
                    <i class="fa fa-plus"></i>
                    </button>
                  </span>
                  <span *ngIf="!(p.taskList.length < p.numberOfReworks)" class="float-right pr-4">
                    <button title="Tạo công việc cho nơi này" mdbBtn type="button" color="success" rounded="true"
                      mdbWavesEffect size="md" (click)="openCreateTaskModal(p.id, i)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </span>
              </td>
              <td>
                <span *ngIf="p.setToBeacon" class="text-success font-weight-normal">Đã có</span>
                <span *ngIf="!p.setToBeacon" class="text-danger font-weight-normal">Chưa có</span>
              </td>
              <td class="d-flex flex-wrap w-100 justify-content-center" id="action-button">
                <button title="Chi tiết" mdbBtn type="button" rounded="true" color="warning" class="waves-light"
                  size="sm" mdbWavesEffect (click)="openDetailModal(p)">
                  <i class="fa fa-eye"></i>
                </button>
                <button title="Thêm beacon cho nơi này" mdbBtn type="button" color="success" rounded="true"
                  mdbWavesEffect size="sm" (click)="openBeaconModal(p.id)"
                  *ngIf="userAccount.roleId === 1 && (p.setToBeacon === false)">Thêm
                  beacon</button>
                <!-- <button title="Cập nhật số lần làm việc trong ngày" mdbBtn type="button" color="primary" rounded="true"
                  mdbWavesEffect size="sm" (click)="openUpdateModal(p)">
                  <i class="fa fa-pencil"></i>
                </button> -->
                <button title="Xóa nơi làm việc" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect
                  size="sm" (click)="checkRemovable(p.id)" *ngIf="userAccount.roleId === 1">
                  Xóa
                </button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>

        <div *ngIf="placeResponse?.numberOfElements === 0" class="text-left col-11 mx-auto pb-3">
          <h5 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h5>
        </div>

        <app-pagination *ngIf="placeResponse?.totalPages > 1" [pageSize]="placeResponse.size"
          [totalPage]="placeResponse.totalPages" [currentPage]="placeResponse.number" (changePage)="changePage($event)">
        </app-pagination>
      </div>

    </div>
  </section>
</div>
<!--/.Card-->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới nơi làm việc</p>
        <button type="button" class="close" p-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <form (ngSubmit)="createPlace()" #createForm="ngForm" class="d-flex flex-wrap w-100">
            <div class="md-form mt-0 mb-3 col-md-12">
              <input 
                type="text" 
                id="name" 
                name="name" 
                class="form-control" 
                mdbInput
                required
                #name=ngModel
                [(ngModel)]="placeCM.name"
                [class.ng-invalid.validate-error]="(name.invalid && (name.dirty || name.touched))"
                >
              <label for="name">Tên nơi làm việc*</label>
              
              <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <span *ngIf="name?.errors?.required" class="font-weight-normal">Vui lòng nhập tên nơi làm việc</span>
              </mdb-error>
  
            </div>
  
            <div class="md-form my-3 col-md-12">
              <textarea 
                id="description" 
                name="description" 
                class="form-control md-textarea" 
                mdbInput
                #description=ngModel
                [(ngModel)]="placeCM.description"
              >
              </textarea>
              <label for="description">Miêu tả</label>
  
            </div>
            
            <div class="md-form my-3 col-md-12 ">

              <mdb-select
                id="role"
                name="role"
                [label]="'Người quản lý'"
                [notFoundMsg]="'Không tìm thấy'"
                [options]="managerList"
                #mngId="ngModel"
                [(ngModel)]="managerId"
                >
              </mdb-select>

            </div>

            <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
              <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
                  (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
              </div>
              <div class="file-path-wrapper mt-3">
                <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()" disabled>
              </div>
            </div>
            <div class="col text-center w-100" *ngIf="url">
              <img [src]="url" height="100">
            </div>
    
            <div class="col-12 text-center mt-3 border-top pt-3">
              <button mdbBtn color="success" class="waves-light" mdbWavesEffect [disabled]="!createForm.form.valid">Tạo mới
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div mdbModal #beacon="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm beacon vào nơi làm việc</p>
        <button type="button" class="close" p-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <div class="md-form mt-0 mb-3 col-md-12">
          <mdb-select [label]="'Beacon'" [notFoundMsg]="'Không tìm thấy'" [options]="beaconList" (selected)="selectBeacon($event)">
          </mdb-select>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect *ngIf="beaconId" (click)="addBeacon()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #removeBeacon="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Gỡ bỏ beacon ra khỏi nơi làm việc này?
        </p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-warning fa-4x animated rotateIn"></i>
        <div *ngIf="warningMessage.length !== 0">
          <div *ngFor="let m of warningMessage">
            <p class="h6 font-weight-bold">
              {{m}}
            </p>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect (click)="removeBeaconOfWorkplace()">Đồng ý</a>
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect p-dismiss="modal"
          (click)="removeBeacon.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #createTaskModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc</p>
        <button type="button" class="close" p-dismiss="modal" aria-label="Close" (click)="createTaskModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <h6 class="font-weight-bold">Các công việc trong ngày tại đây: </h6>
        <div *ngFor="let t of placeList[currentIndex]?.taskList; let idx2 = index" class="col-12">
          {{ idx2 + 1 }}. {{ t.assignee }} - từ {{ t.startTime | date: 'HH:mm' }} đến
          {{ t.endTime | date: 'HH:mm' }}
        </div>

        <div class="md-form mt-3 mb-3 col-6 col-md-12 px-0">
          <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="taskCM.title">
          <label for="title">Tên công việc</label>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <mdb-select [label]="'Nhân viên'" [notFoundMsg]="'Không tìm thấy'" [options]="employeeList"
            [filterEnabled]="true" [(ngModel)]="assigneeId"></mdb-select>
          <!-- <label>Người thực hiện</label> -->
        </div>

        <owl-form-field class="col-12 px-0">
          <input owlInput [min]="minDate" [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker"
            placeholder="Thời gian bắt đầu" [(ngModel)]="taskCM.startTime">
          <owl-date-time #datepicker></owl-date-time>
        </owl-form-field>

        <span>Thời lượng công việc</span>
        <div class="w-100 d-flex justify-content-center align-items-center my-3">
          <mdb-range-input id="range" [min]="30" [step]="10" [max]="300" name="range" [(ngModel)]="taskCM.duration"
            class="w-100"></mdb-range-input>
          <span class="ml-2">phút</span>
        </div>

        <div class="col-12 md-form mt-0 mb-3 px-0">
          <mdb-select [label]="'Mức độ ưu tiên'" class="select-wrapper mdb-select colorful-select dropdown-success"
            [options]="iconPrioritySelect" [(ngModel)]="taskCM.priority">
          </mdb-select>
          <label>Mức độ ưu tiên</label>
        </div>

        <div class="col-12 md-form mt-0 mb-3 px-0">
          <textarea type="text" id="description" class="md-textarea form-control" mdbInput
            [(ngModel)]="taskCM.description"></textarea>
          <label id="description">Miêu tả công việc</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createTask()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Xóa nơi làm việc này?
        </p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
        <div *ngIf="warningMessage.length !== 0">
          <div *ngFor="let m of warningMessage">
            <p class="h6 font-weight-bold">
              {{m}}
            </p>
          </div>
        </div>
        <p class="h6 font-weight-bold">
          Bạn có muốn tiếp tục xóa?
        </p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removePlace()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect p-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #addManager="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Thêm manager cho nơi làm việc này
        </p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="col-12">
          <div class="md-form my-3">
            <mdb-select [label]="'Người quản lý'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true"
              [options]="managerList" [(ngModel)]="selectingManagerId"></mdb-select>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center" *ngIf="selectingManagerId">
        <a mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect
          (click)="updateManagerForWorkplace()">Đồng ý</a>
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect p-dismiss="modal"
          (click)="addManager.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #editManager="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Thay đổi người quản lý của nơi làm việc này
        </p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="col-12">
          <div class="md-form my-3">
            <mdb-select [label]="'Người quản lý mới'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true"
              [options]="_managerList" [(ngModel)]="selectingManagerId"></mdb-select>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center" *ngIf="selectingManagerId">
        <a mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect
          (click)="changeManager(1)">Đồng ý</a>
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect p-dismiss="modal"
          (click)="editManager.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #deleteManager="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Ngưng quyền quản lý của manager này?
        </p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
        <div *ngFor="let m of warningMessage">
          <p class="h6 font-weight-bold">
            {{m}}
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect
          (click)="changeManager(2)">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect p-dismiss="modal"
          (click)="deleteManager.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #warning="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Cảnh báo</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-warning fa-4x animated rotateIn"></i>
        <div *ngFor="let m of warningMessage">
          <p class="h6 font-weight-bold">
            {{m}}
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="warning.hide()">Đóng</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>