.rotate-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  color: #007bff !important;
}
.list-btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 235px;
}
.btn-add-task {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}