<div class="card card-cascade narrower" id="place">
  <section>
    <div class="row">
      <div class="col-xl-6 col-lg-12 mr-0">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Quản lý nơi làm việc</h2>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12 px-5 pt-3 text-right">
        <a class="btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i></a>
      </div>
      <div class="card-body card-body-cascade pb-0 d-flex flex-wrap">

        <h4 class="text-left col-11 mx-auto pb-3">
          <span routerLink="/company" style="cursor: pointer; color: #007bff"> Công ty {{companyName}} </span>
          <span (click)="location.back()" style="cursor: pointer; color: #6c757d; font-size: 20px;"> / {{zoneName}}
          </span>
        </h4>

        <div class="col-md-4 mb-4" *ngFor="let p of placeList; let i = index">

          <mdb-flipping-card #card>
            <!--Front Side-->
            <div class="face front card tp-box_side tp-box_front">
              <!-- Image-->
              <div class="card-up">
                <div class="view overlay hm-white-slight waves-light" mdbWavesEffect (click)="openUpdateModal(p)">
                  <img [src]="p.picture" class="img-fluid" alt="">

                </div>
              </div>

              <a class="btn-floating btn-action ml-auto mr-4 mdb-color primary-color waves-light" (click)="card.toggle()"
                mdbWavesEffect>
                <mdb-icon icon="chevron-right" mdbWavesEffect></mdb-icon>
              </a>
              <!--Content-->
              <div class="content">
                <h4>{{p.name}}</h4>
                <hr>
                <p>Công ty: {{p.companyDTO.name}} - Khu vực: {{p.zoneDTO.name}}</p>
                <p>Số lần vệ sinh trong ngày: <span class="text-danger font-weight-bold h5">{{p.numberOfReworks}}</span></p>
                <div class="d-flex justify-content-center">
                  <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect (click)="openCreateTaskModal(p.id)">Tạo công việc</button>
                </div>

              </div>
              <!--/.Content-->

            </div>
            <!--/.Front Side-->

            <!--Back Side-->
            <div class="face back tp-box_side tp-box_back">
              <div class="d-flex justify-content-center flex-wrap pt-3">
                <p class="h5">Công việc thường nhật</p>
                <div *ngFor="let bt of placeList[i].basicTaskList; let idx = index" class="col-12">
                  {{ idx + 1 }}. {{ bt.title }}
                </div>
                <br>
                <button title="Thêm xóa sửa công việc" mdbBtn type="button" rounded="true" color="primary" class="waves-light list-btn"
                  mdbWavesEffect (click)="openTaskBasicModal(p.basicTaskList, p.id)">
                  <i class="mr-2 fa fa-list-ol"></i>Danh sách công việc
                </button>
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                <a class="rotate-btn" data-card="card-1" (click)="card.toggle()">Trở lại</a>
              </div>

              <!--Social Icons-->

            </div>
            <!--/.Back Side-->
          </mdb-flipping-card>
        </div>
      </div>
    </div>
  </section>
</div>
<!--/.Card-->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới nơi làm việc</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="md-form mt-0 mb-3 col-md-12">
          <input type="text" id="name" class="form-control" mdbInput [(ngModel)]="placeCM.name">
          <label for="name">Tên</label>
        </div>

        <span>Số lần vệ sinh trong ngày</span>
        <div class="w-100 d-flex justify-content-center align-items-center my-3">
          <mdb-range-input id="range" [min]="0" [value]="3" [step]="1" [max]="5" name="range" [(ngModel)]="placeCM.numberOfReworks"
            class="w-100"></mdb-range-input>
          <span class="ml-2">lần</span>
        </div>

        <div class="md-form mt-0 mb-3 col-md-12">
          <input type="text" id="description" class="form-control" mdbInput [(ngModel)]="placeCM.description">
          <label for="description">Miêu tả</label>
        </div>

        <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
          <div mdbBtn floating="true" size="md" gradient="aqua" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()">
          </div>
          <div class="col text-center w-100" *ngIf="url">
            <img [src]="url" height="100">
          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createPlace()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #createTaskModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="md-form mt-0 mb-3 col-6 col-md-12">
          <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="taskCM.title">
          <label for="title">Tên công việc</label>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12">
          <mdb-select [placeholder]="'Người thực hiện'" [options]="employeeList" [filterEnabled]="true" [(ngModel)]="assigneeId"></mdb-select>
        </div>

        <label class="col-md-2 col-xs-12" style="position: relative">
          <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 20px">Từ</span>
        </label>
        <div class="col-md-10 col-xs-12">
          <mdb-time-picker [buttonLabel]="'Chọn'" [twelvehour]="false" [darktheme]="false" [placeholder]="'Chọn'"
            [label]="'Giờ'" [(ngModel)]="timeFrom">
          </mdb-time-picker>
        </div>

        <span>Thời gian hoàn thành</span>
        <div class="w-100 d-flex justify-content-center align-items-center my-3">
          <mdb-range-input id="range" [min]="0" [step]="10" [max]="300" name="range" [(ngModel)]="taskCM.duration" class="w-100"></mdb-range-input>
          <span class="ml-2">phút</span>
        </div>

        <div class="col-12 md-form mt-0 mb-3">
          <mdb-select class="select-wrapper mdb-select colorful-select dropdown-success" [options]="iconPrioritySelect"
            [(ngModel)]="taskCM.priority" placeholder="Chọn">
          </mdb-select>
          <label>Mức độ ưu tiên</label>
        </div>
        <div class="col-12 md-form mt-0 mb-3">
          <textarea type="text" id="description" class="md-textarea form-control" mdbInput [(ngModel)]="taskCM.description"></textarea>
          <label id="description">Miêu tả công việc</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createTask()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="delete"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        Xóa nơi làm việc này?
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removePlace()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>