<div class="modal-header d-flex justify-content-center">
  <p class="heading">Chi tiết công việc</p>
</div>
<div class="modal-body mx-3 row px-0">
  <div class="md-form mt-0 mb-3 col-6 col-md-12">
    <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="schedule.title">
    <label for="title">Tên công việc</label>
  </div>

  <div class="md-form mt-0 mb-3 col-6 col-md-12">
    <mdb-select [label]="'Nơi làm việc'" [notFoundMsg]="'Địa điểm'" [options]="placeList" [filterEnabled]="true"
      [(ngModel)]="schedule.workplaceId"></mdb-select>
  </div>

  <div class="md-form mt-0 mb-3 col-6 col-md-12">
    <mdb-select [label]="'Người thực hiện'" [notFoundMsg]="'Người thực hiện'" [options]="employeeList"
      [filterEnabled]="true" [(ngModel)]="schedule.assignee.id"></mdb-select>
  </div>

  <owl-form-field class="col-12">
    <input owlInput [owlDateTimeTrigger]="datepicker" [(ngModel)]="startTime" [owlDateTime]="datepicker"
      placeholder="Giờ bắt đầu">
    <owl-date-time #datepicker [pickerType]="'timer'"></owl-date-time>
  </owl-form-field>

  <div class="col-12">
    <span>Thời lượng:
      <span class="font-weight-bold">{{schedule.duration}} phút</span>
    </span>
    <div class="w-100 d-flex justify-content-center align-items-center my-3">
      <mdb-range-input id="range" [min]="10" [step]="10" [max]="300" name="range"
        (rangeValueChange)="isSelectRange = true" [(ngModel)]="schedule.duration" class="w-100"></mdb-range-input>
      <span class="ml-2">phút</span>
    </div>
  </div>

  <h6 class="font-weight-bold col-12">Các ngày lặp lại trong tuần</h6>
  <div class="form-check form-check-inline d-flex flex-wrap w-100">
    <div class="col-6" *ngFor="let day of week">
      <mdb-checkbox [inline]="true" (change)="changeDayCheckbox(day.id, $event)" [checked]="day.check">{{day.label}}
      </mdb-checkbox>
    </div>
  </div>

  <hr>

  <div class="col-md-12 mt-3 px-0">
    <h5 class="text-center font-weight-bold">
      Công việc phải làm
      <a mdbBtn floating="true" size="sm" color="success" mdbWavesEffect>
        <i class="fa fa-plus" (click)="openModal(edit, 2)"></i>
      </a>
      <a *ngIf="canRemove" mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect>
        <i class="fa fa-trash" (click)="removeTaskBasic()"></i>
      </a>
    </h5>
    <div class="d-flex flex-wrap w-100">
      <div class="col-6" *ngFor="let item of schedule.taskBasics">
        <mdb-checkbox [inline]="true" (change)="changeTaskCheckbox(item.id, $event)">{{item.title}}</mdb-checkbox>
      </div>
    </div>
  </div>

  <div class="col-12 md-form my-3">
    <textarea type="text" id="description" class="md-textarea form-control" mdbInput
      [(ngModel)]="schedule.description"></textarea>
    <label>Miêu tả chi tiết</label>
  </div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="updateSchedule()">
    Cập nhật <i class="ml-2 fa fa-pencil"></i>
  </button>
</div>

<ng-template #edit>

  <div class="modal-header d-flex justify-content-center">
    <p class="heading">Thêm danh sách công việc phải làm</p>
  </div>
  <div class="modal-body mx-3 row">

    <p class="h6">Danh sách công việc gợi ý</p>

    <div class="d-flex flex-wrap w-100">
      <div *ngFor="let t of taskBasicManagerList; let i of index" class="col-6">
        <mdb-checkbox name="item-{{i}}" #checkbox (change)="changeCheckboxCreateModal(t.id, $event)">{{t.title}}
        </mdb-checkbox>
      </div>
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="addTaskBasicToSchedule()">Thêm vào danh
      sách
      <i class="fa fa-check ml-1"></i>
    </button>
    <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="openCreateModal()">Tạo
      mới
      <i class="fa fa-plus mr-1"></i>
    </button>
  </div>
</ng-template>

<ng-template #delete>
  <div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
      <p class="heading">Xóa công việc này?</p>
    </div>

    <!--Body-->
    <div class="modal-body">
      <i class="fa fa-times fa-4x animated rotateIn"></i>
    </div>

    <!--Footer-->
    <div class="modal-footer flex-center">
      <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect>Đồng ý</a>
      <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
        (click)="closeModal2(delete)">Hủy</a>
    </div>
  </div>
</ng-template>

<ng-template #create>

  <div class="modal-header d-flex justify-content-center">
    <p class="heading">Tạo công việc</p>
  </div>
  <div class="modal-body mx-3 row">

    <div class="md-form mt-0 mb-3 col-6 col-md-12">
      <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="taskBasicCM.title">
      <label for="title">Tên công việc</label>
    </div>

    <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
      <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
          (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      </div>
      <div class="file-path-wrapper mt-3">
        <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()">
      </div>
    </div>

    <div class="col text-center" *ngIf="url">
      <img [src]="url" height="100">
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createTaskBasic()">
      Tạo mới
      <i class="fa fa-check ml-1"></i>
    </button>
  </div>

</ng-template>