<div class="" id="task">
  <div class="card card-cascade narrower">
    <section>
      <div class="d-flex flex-wrap w-100">
        <div class="col-xl-6 col-lg-12 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý công việc</h2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 mr-0 text-right">
          <!-- <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>
            <i class="fa fa-search"></i>
          </button> -->
          <a class="btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i></a>
        </div>
        <div class="card-body card-body-cascade pb-0 px-5 col-12">

          <div class="col-md-12 mx-auto text-left my-3">
            <div class="row">
              <h5 style="color: #8993a4" class="text-left col-xl-6 col-lg-12">
                <span class="text-primary">{{userAccount.fullName}}</span>
                / Các công việc đang phụ trách</h5>
            </div>
            <app-task-search
              [sortRequest]="fieldSort"
              [page]="currentPage"
              [size]="currentSize"
              (searchChanged)="search($event)">
            </app-task-search>
            <table mdbTable mdbTableHover mdbTableScroll scrollX="true" maxWidth="100%">
              <thead>
                <tr scole="col">
                  <th (click)="sort('id')">
                    Mã công việc
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('title')">
                    Công việc
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('workplaceName')">
                    Địa điểm
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('assigneeName')">
                    Người thực hiện
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('status')">
                    Trạng thái
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('attendanceStatus')">
                    Điểm danh
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('startTime')">
                    Thời gian bắt đầu
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('endTime')">
                    Thời gian kết thúc
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('dateUpdate')">
                    Ngày cập nhật
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <!-- <th>
                    Thao tác
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let task of taskList" [routerLink]="['/task-detail', task.id]">
                  <th scope="row">Công việc [{{ task.id }}]</th>
                  <td>{{ task.title }}</td>
                  <!-- <td>{{ task.description }}</td> -->
                  <td>{{ task.workplaceName }}</td>
                  <td>
                    <img [src]="task.assigneePicture || defaultImage"
                      class="rounded-circle img-responsive list-avatar mr-2">{{ task.assigneeName }}
                  </td>
                  <td>
                    <span *ngIf="task.status === 0" style="font-size: 13px" class="badge badge-light">Chưa bắt
                      đầu</span>
                    <span *ngIf="task.status === 1" style="font-size: 13px" class="badge badge-primary">Đang thực
                      hiện</span>
                    <span *ngIf="task.status === 2" style="font-size: 13px" class="badge badge-success">Hoàn
                      thành</span>
                    <span *ngIf="task.status === 3" style="font-size: 13px" class="badge badge-danger">Quá hạn</span>
                    <span *ngIf="task.status === 4" style="font-size: 13px" class="badge badge-warning">Đang chờ
                      duyệt</span>
                  </td>
                  <td>
                    <span *ngIf="task.attendanceStatus === 0" style="font-size: 13px" class="badge badge-light">Chưa
                      điểm danh</span>
                    <span *ngIf="task.attendanceStatus === 1" style="font-size: 13px" class="badge badge-success">Đúng
                      giờ</span>
                    <span *ngIf="task.attendanceStatus === 2" style="font-size: 13px"
                      class="badge badge-warning">Trễ</span>
                    <span *ngIf="task.attendanceStatus === 3" style="font-size: 13px" class="badge badge-danger">Vắng
                      mặt</span>
                  </td>
                  <td>
                    {{ task.startTime | date: 'HH:mm' }} ngày {{ task.startTime | date: 'dd-MM-yyyy' }}
                  </td>
                  <td>
                    {{ task.endTime | date: 'HH:mm' }} ngày {{ task.endTime | date: 'dd-MM-yyyy' }}
                  </td>
                  <td *ngIf="task.dateUpdate">
                    {{ task.dateUpdate | date: 'HH:mm' }} ngày {{ task.dateUpdate | date: 'dd-MM-yyyy' }}
                  </td>
                  <td *ngIf="!task.dateUpdate"></td>
                </tr>
              </tbody>
              <div *ngIf="taskList?.length === 0" class="col-12 pt-5">
                <h6 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h6>
              </div>
            </table>
            <app-pagination *ngIf="taskListResponse?.totalPages > 1" [pageSize]="taskListResponse.size"
              [totalPage]="taskListResponse.totalPages" [currentPage]="taskListResponse.number"
              (changePage)="changePage1($event)">
            </app-pagination>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div mdbModal id="createTaskModal" #create="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <div class="col-md-12 text-left pb-2">
          <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="taskCM.title">
          <label for="title">Tên công việc</label>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <mdb-select [label]="'Công ty'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true"
            [options]="companyList" (selected)="selectCompany($event)"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectCompany">
          <mdb-select [label]="'Khu vực'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="zoneList"
            (selected)="selectZone($event)"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectZone">
          <mdb-select [label]="'Địa điểm'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="placeList"
            (selected)="selectWorkplace($event)"></mdb-select>
        </div>

        <div class="d-flex flex-wrap w-100 justify-content-center" *ngIf="isSelectWorkplace">
          <div class="md-form mt-2 mb-3 col-md-7 px-0">
            <mdb-select [label]="'Nhân viên'" [notFoundMsg]="'Không tìm thấy'" [options]="employeeList"
              [filterEnabled]="true" (selected)="selectEmployee($event)" [(ngModel)]="assignTask.assigneeId">
            </mdb-select>
          </div>
          <div class="col-md-5 px-0 text-center">
            <button rounded="true" type="button" mdbBtn color="primary" class="waves-light"
              (click)="openSuggestionModal()" mdbWavesEffect>Nhận gợi ý</button>
          </div>
        </div>

        <owl-form-field class="col-12 px-0" *ngIf="isSelectWorkplace">
          <input owlInput [min]="minDate" [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker"
            placeholder="Thời gian bắt đầu" [(ngModel)]="taskCM.startTime">
          <owl-date-time #datepicker></owl-date-time>
        </owl-form-field>

        <span *ngIf="isSelectWorkplace">Thời gian hoàn thành</span>
        <div class="w-100 d-flex justify-content-center align-items-center my-3" *ngIf="isSelectWorkplace">
          <mdb-range-input id="range" [min]="30" [step]="10" [max]="300" name="range"
            (rangeValueChange)="isSelectRange = true" [(ngModel)]="taskCM.duration" class="w-100"></mdb-range-input>
          <span class="ml-2">phút</span>
        </div>

        <hr>

        <div *ngIf="isSelectWorkplace" class="d-flex flex-wrap w-100">
          <p class="h6 col-12 px-0">Danh sách công việc gợi ý</p>
          <div *ngFor="let list of taskBasicList; let i of index" class="col-6">
            <mdb-checkbox name="item-{{i}}" [checked]="list.checked" #checkbox
              (change)="changeCheckbox(list.id, $event)">{{list.title}}</mdb-checkbox>
          </div>
        </div>

        <div *ngIf="isSelectWorkplace" class="col-12 md-form mt-3 mb-3 px-0">
          <mdb-select [label]="'Mức độ ưu tiên'" class="select-wrapper mdb-select colorful-select dropdown-success"
            [options]="iconPrioritySelect" [(ngModel)]="taskCM.priority">
          </mdb-select>
        </div>

        <div class="col-12 md-form mt-0 mb-3 px-0" *ngIf="isSelectWorkplace">
          <textarea type="text" id="description" class="md-textarea form-control" mdbInput
            [(ngModel)]="taskCM.description" placeholder="Chi tiết công việc"></textarea>
          <label>Chi tiết</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center" *ngIf="isSelectWorkplace">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="schedule.show(); create.hide()">Tạo
          mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #schedule="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="schedule" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Lặp lại công việc hàng tuần?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-question fa-4x animated rotateIn"></i>
        <div class="form-check form-check-inline col" *ngFor="let day of week">
          <input type="checkbox" class="form-check-input" [id]="day.inputId" [(ngModel)]="day.check">
          <label class="form-check-label" [for]="day.inputId">{{ day.label }}</label>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer d-flex flex-wrap w-100">
        <a mdbBtn color="info" outline="true" class="waves-effect col-12" mdbWavesEffect (click)="createSchedule()">Tạo
          schedule</a>
        <a type="button" mdbBtn color="info" class="waves-effect col-12" mdbWavesEffect (click)="createTask()">Tạo task
          thông thường</a>
        <a type="button" mdbBtn color="light" class="waves-effect col-12" mdbWavesEffect data-dismiss="modal"
          (click)="schedule.hide(); create.show()">Đóng</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal id="notification" #send="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Gửi thông báo đến nhân viên?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-bell fa-4x animated shake" style="color: #007bff !important"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="sendNoti('true')">Gửi</a>
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="sendNoti('false')">Không</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>