<div class="row" id="task">
  <div class="col-md-12 mx-auto text-left my-5">
    <h6 class="text-left">Nguyen Minh Quan / Managing task</h6>
    <h4 class="text-left">Managing task</h4>
    <table class="table table-hover table-responsive-md" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th (click)="sortBy('work')">
            Work
            <mdb-icon icon="sort"></mdb-icon>
          </th>
          <th (click)="sortBy('activity')">
            Activity
            <mdb-icon icon="sort"></mdb-icon>
          </th>
          <th (click)="sortBy('location')">
            Location
            <mdb-icon icon="sort"></mdb-icon>
          </th>
          <th (click)="sortBy('employee')">
            Employee
            <mdb-icon icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskList">
          <td [routerLink]="['/task-detail/employee', task.id]">
            <i class="fa fa-trash mr-4"></i>
            {{task.work}}</td>
          <td>{{task.activity}}</td>
          <td>{{task.location}}</td>
          <td>{{task.employee}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>