.md-form.col-md-5.col-xs-6 {
  margin-top: 31px !important;
}
tr > td {
  cursor: pointer;
}
.list-avatar {
  height: 50px !important;
  width: 50px !important;
}
table {
  white-space: nowrap;
}
.owl-form-field-underline .owl-form-field-underline-graphic {
  stroke: #757575;
}