<div class="row" id="task-detail">
  <div class="col pt-3">
    <!-- <h4 class="text-center">Search Filter here</h4> -->
    <div class="d-flex flex-wrap">
      <div class="col-md-3 mx-auto">
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <h4 class="text-center font-weight-bold">Danh sách công việc</h4>

          <hr>
          <!--Text-->
          <ul class="list-group list-group-flush pt-3">
            <!-- <a class="list-group-item active waves-light">92</a> -->
            <a *ngFor="let task of taskList; let i = index" class="list-group-item list-group-item-action waves-light"
              [ngClass]="{'list-group-item-action': task.id !== id, 'active': task.id === id}" mdbWavesEffect (click)="loadTask(task.id)">{{i+1}}.
              {{task.title}}</a>
          </ul>

        </mdb-card-body>
      </div>
      <div class="card card-cascade narrower col-md-5 mx-auto waves-light">
        <div class="p-5 h-100">
          <div class="mx-auto col-8">
            <div class="view view-cascade gradient-card-header light-blue" style="margin-top: -5.25rem">
              <h3 class="h3-responsive mb-0">Chi tiết công việc</h3>
            </div>
          </div>

          <div class="d-flex flex-wrap">
            <div class="col-4">
              <p class="h6 pl-0 mt-4">Tên công việc</p>
              <p class="h3 mt-3" *ngIf="task.status !== 0">{{task.title}} </p>

              <div class="md-form" *ngIf="task.status === 0">
                <input mdbInput type="text" class="form-control" [(ngModel)]="task.title" (blur)="updateTitle()">
              </div>

            </div>
            <div class="col-8">
              <p class="h6 pl-0 mt-4">Miêu tả công việc</p>
              <p class="h3 mt-3" *ngIf="task.status !== 0">{{task.description}} </p>

              <div class="md-form" *ngIf="task.status === 0">
                <input mdbInput type="text" class="form-control" [(ngModel)]="task.description" (blur)="updateDescription()">
              </div>

            </div>
          </div>

          <div class="col-md-12 mt-3">
            <h5 class="text-center font-weight-bold">
              Công việc phải làm
              <!-- <a mdbBtn floating="true" size="sm" color="primary" mdbWavesEffect>
                <i class="fa fa-pencil" (click)="openEditModal()"></i>
              </a> -->
              <a mdbBtn floating="true" size="sm" color="success" mdbWavesEffect>
                <i class="fa fa-plus" (click)="openEditModal()"></i>
              </a>
              <a *ngIf="canRemove" mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect>
                <i class="fa fa-trash" (click)="removeTaskBasic()"></i>
              </a>
            </h5>
            <div style="overflow-y: scroll; height: 160px">
              <div class="d-flex flex-wrap w-100">
                <div class="col-6" *ngFor="let ck of task.checkList">
                    <mdb-checkbox [inline]="true" (change)="changeCheckbox(ck.id, $event)">{{ck.title}}</mdb-checkbox>
                </div>
              </div>
              <!-- <div *ngIf="task.status === 0" class="d-flex flex-wrap w-100">
                <div class="col-6" *ngFor="let ck of task.checkList">
                  <mdb-checkbox  [inline]="true" [checked]="ck.status">{{ck.title}}</mdb-checkbox>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-12 mt-3" *ngIf="task.status !== 0">
            <h5 class="text-center font-weight-bold">Báo cáo</h5>
            <mdb-accordion [multiple]="false" aria-multiselectable="true">
              <mdb-accordion-item [collapsed]="true" *ngFor="let item of report">
                <mdb-accordion-item-head> {{ item.dateReport | date: 'hh-mm dd-MM-yyyy' }} </mdb-accordion-item-head>
                <mdb-accordion-item-body>
                  <p class="h6 mt-4">Hình ảnh</p>
                  <p class="text-danger" *ngIf="picture.length === 0">Không có hình ảnh</p>
                  <div class="col-md-12" *ngIf="picture.length > 0">
                    <div id="mdb-lightbox-ui"></div>
                    <div class="mdb-lightbox">
                      <figure class="col-md-4" *ngFor="let p of picture">
                        <a [href]="p" data-size="1600x1067">
                          <img [src]="p" alt="placeholder" class="img-fluid">
                        </a>
                      </figure>
                    </div>
                  </div>
                </mdb-accordion-item-body>
              </mdb-accordion-item>
            </mdb-accordion>
          </div>
          <br>
          <!-- <button *ngIf="!isUpdate" class="btn-edit" mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect
            (click)="isUpdate = true">Chỉnh sửa</button> -->
          <button *ngIf="task.status === 0" class="btn-delete" mdbBtn type="button" color="danger" rounded="true"
            mdbWavesEffect (click)="openDeleteModal()">
            <i class="fa fa-exclamation-triangle mr-2"></i>
            Xoá công việc
          </button>
          <!-- <button *ngIf="isUpdate" class="btn-confirm" mdbBtn type="button" color="success" rounded="true"
            mdbWavesEffect (click)="updateTask()">Xác nhận</button>
          <button *ngIf="isUpdate" class="btn-close" mdbBtn type="button" color="light" rounded="true" mdbWavesEffect
            (click)="isUpdate = false">Hủy</button> -->
        </div>
      </div>
      <div class="col-md-3 mx-auto">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%">

          <div class="md-form ">
            <h6 class="font-weight-bold d-flex flex-wrap">
              <span class="col-6 px-0 mr-auto">Trạng thái</span>
              <div class="col-6 px-0 ml-auto text-right">
                <a mdbBtn floating="true" size="sm" color="primary" class="btn-history" mdbWavesEffect>
                  <i class="fa fa-history" (click)="history.show()"></i>
                </a>
              </div>
            </h6>
            <span *ngIf="task.status === 0" style="font-size: 15px" class="badge badge-light">Chưa bắt đầu</span>
            <span *ngIf="task.status === 1" style="font-size: 15px" class="badge badge-primary">Đang thực hiện</span>
            <span *ngIf="task.status === 2" style="font-size: 15px" class="badge badge-success">Hoàn thành</span>
            <span *ngIf="task.status === 3" style="font-size: 15px" class="badge badge-danger">Quá hạn</span>
            <mdb-select *ngIf="task.status === 1" [options]="iconStatusSelect" [(ngModel)]="task.status" class="select-wrapper mdb-select colorful-select dropdown-info md-form">
            </mdb-select>
          </div>

          <div class="md-form">
            <h6 class="font-weight-bold">Điểm danh</h6>
            <span *ngIf="task.attendanceStatus === 0" style="font-size: 15px" class="badge badge-light">Chưa điểm danh</span>
            <span *ngIf="task.attendanceStatus === 1" style="font-size: 15px" class="badge badge-success">Đúng giờ</span>
            <span *ngIf="task.attendanceStatus === 2" style="font-size: 15px" class="badge badge-warning">Trễ</span>
            <span *ngIf="task.attendanceStatus === 3" style="font-size: 15px" class="badge badge-danger">Vắng mặt</span>
          </div>

          <div class="md-form ">
            <p class="h6 mt-3">Người thực hiện: {{task.assignee.name}}</p>
            <!-- <span *ngIf="task.status !== 0" class="mx-3">{{task.assignee.name}}</span> -->
            <mdb-select *ngIf="task.status === 0" [placeholder]="'Người thực hiện khác'" [options]="employeeList"
              [filterEnabled]="true" [(ngModel)]="assignTask.assigneeId" (selected)="openAssignModal()"></mdb-select>
          </div>

          <div class="md-form ">
            <p class="h6 mt-3">Nơi làm việc: {{task.workplace.name}}</p>
            <!-- <span class="mx-3" *ngIf="task.status !== 0">{{task.workplace.name}}</span> -->
            <mdb-select *ngIf="task.status === 0" [placeholder]="'Nơi làm việc khác'" [options]="workplaceListByManager"
              [filterEnabled]="true" [(ngModel)]="manageWorkplace.workplaceId" (selected)="changeWorkplace($event)"></mdb-select>
          </div>

          <div class="md-form ">
            <p class="h6 mt-3 mb-4">Thời gian</p>
            <div class="col-12 mx-0" *ngIf="task.status !== 0">Từ: <span>{{task.startTime | date: 'HH:mm dd-MM-yyyy'}}</span></div>
            <div class="col-12 mx-0" *ngIf="task.status !== 0">Đến: <span>{{task.endTime | date: 'HH:mm dd-MM-yyyy'}}</span></div>
            <div class="row" *ngIf="task.status === 0">
              <!-- <app-date-picker ngDefaultControl [mode]="'range'" [(ngModel)]="dateRange"></app-date-picker> -->
              <owl-form-field class="w-100 px-3 text-center">
                <input owlInput [min]="minDate" [(ngModel)]="dateRange" [selectMode]="'range'" [owlDateTimeTrigger]="datepicker"
                  [owlDateTime]="datepicker">
                <owl-date-time #datepicker></owl-date-time>
              </owl-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="delete"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa công việc này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeTask()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #assignModal="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Bàn giao công việc</p>
      </div>
      <div class="modal-body mx-3">

        <div class="md-form mb-4">
          <!-- <i class="fa fa-comments prefix grey-text"></i> -->
          <input type="text" id="description1" class="form-control" mdbInput [(ngModel)]="assignTask.description">
          <label for="description1">Lý do</label>
        </div>

      </div>
      <div class="modal-footer flex-center">
        <a mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="assign()">Đồng ý</a>
        <a type="button" mdbBtn color="primary" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="assignModal.hide()">Hủy</a>
      </div>
    </div>
  </div>
</div>

<div mdbModal id="create" #create="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <div class="md-form mt-0 mb-3 col-6 col-md-12">
          <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="taskBasicCM.title">
          <label for="title">Tên công việc</label>
        </div>

        <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
          <div mdbBtn floating="true" size="md" gradient="aqua" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()">
          </div>
        </div>

        <div class="col text-center" *ngIf="url">
          <img [src]="url" height="100">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createTaskBasic()">Tạo
          mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal id="edit" #edit="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Thêm danh sách công việc phải làm</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="edit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <p class="h6">Danh sách công việc gợi ý</p>

        <div class="d-flex flex-wrap w-100">
          <div *ngFor="let t of taskBasicManagerList; let i of index" class="col-6">
            <mdb-checkbox name="item-{{i}}" #checkbox (change)="changeCheckboxCreateModal(t.id, $event)">{{t.title}}</mdb-checkbox>
          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="addTaskBasicToTask()">Thêm vào danh sách
          <i class="fa fa-check ml-1"></i>
        </button>
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="openCreateModal(); edit.hide()">Tạo mới
          <i class="fa fa-plus mr-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal id="edit" #history="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Lịch sử bàn giao</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="history.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <div *ngFor="let el of historyAssign; let i = index">

          <h6 class="font-weight-bold">
            {{i+1}}. Lúc {{ el.dateAssign | date: 'hh:mm aa' }} ngày {{ el.dateAssign | date: 'dd-MM-yyyy' }}
          </h6>

          <p *ngIf="!el.description">Không có miêu tả</p>
          <p *ngIf="el.description">Nguyên nhân: {{ el.description }}</p>

        </div>

      </div>
    </div>
  </div>
</div>