.md-form.col-md-6 {
  margin-top: 31px !important;
}
.col-md-3 {
  height: 100vh;
}
.btn-confirm, .btn-edit {
  position: absolute;
  bottom: 0%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.btn-close, .btn-delete {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-history {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.col-6.px-0.ml-auto.text-right {
  position: relative;
}