<div class="row" id="task-detail">
    <div class="col">
      <h4 class="text-center">Search Filter here</h4>
      <!-- Tabset tabs -->
      <mdb-tabset
        [vertical]="true"
        [buttonClass]="'tabs-white flex-column'"
        [contentClass]="'vertical'">
        <!--Panel -->
        <mdb-tab
          heading="<a class='list-group-item'> OEM-{{i}} </a>"
          *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
          <div class="row">
            <div class="col-8 waves-light" mdbWavesEffect>
              <p class="h5"> OEM-{{i}} </p>
              <div class="md-form">
                <textarea type="text" id="description{{i}}" class="md-textarea form-control" mdbInputDirective disabled>Dọn vệ sinh tầng {{i}}</textarea>
                <label for="description{{i}}">Description</label>
              <div class="col-md-12 mt-3">
                <h5 class="text-center">Sub-tasks </h5>
                <mdb-checkbox [inline]="true" [checked]="false" class="col-6">Lau cửa</mdb-checkbox>
                <mdb-checkbox [inline]="true" [checked]="true" class="col-6" *ngFor="let i of [1,1,1,1,1,1,1,1,1]">Lau nhà</mdb-checkbox>
              </div>
              <p class="h6 mt-4">Hình ảnh</p>
              <div class="col-md-12">
                <div id="mdb-lightbox-ui"></div>
                <div class="mdb-lightbox">
                  <figure class="col-md-4 pl-0">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="1600x1067">
                      <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" alt="placeholder"
                        class="img-fluid">
                    </a>
                  </figure>
                  <figure class="col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
                      <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" alt="placeholder"
                        class="img-fluid" />
                    </a>
                  </figure>
                  <figure class="col-md-4 pr-0">
                    <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" data-size="1600x1067">
                      <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" alt="placeholder"
                        class="img-fluid" />
                    </a>
                  </figure>
                </div>
              </div>
                <p class="h6"> Báo cáo</p>
                <textarea type="text" id="description{{i}}" class="md-textarea form-control" mdbInputDirective disabled>Chưa làm xong do quá lùn để lau quạt trần</textarea>
            </div>
            </div>
            <div class="col-4">
              <mdb-select
                [options]="iconStatusSelect"
                [(ngModel)]="selectedStatus"
                placeholder="Choose your option"
                class="select-wrapper mdb-select colorful-select dropdown-info md-form">
              </mdb-select>
              <label>Status</label>
              <p class="h6">Manager</p>
              <span>{{manager}}</span>
              <p class="h6 mt-3">Employee</p>
              <span>{{employee}}</span>
              <p class="h6 mt-3 mb-4">Time tracking</p>
              <div class="row">
                <div class="col-6">
                  <mdb-date-picker
                    name="dateFr"
                    [placeholder]="'Selected date'"
                    [(ngModel)]="dateFrom"
                    [label]="'From Date'">
                  </mdb-date-picker>
                </div>
                <div class="col-6">
                  <mdb-time-picker
                    [buttonLabel]="'Done'"
                    [twelvehour]="true"
                    [darktheme]="false"
                    [placeholder]="'Selected time'"
                    [label]="'Time'"
                    [ngModel]="timeFrom">
                  </mdb-time-picker>
                </div>
                <div class="col-6">
                <mdb-date-picker
                  name="dateT"
                  [label]="'To Date'"
                  [placeholder]="'Selected date'"
                  [(ngModel)]="dateTo">
                </mdb-date-picker>
                </div>
                <div class="col-6">
                  <mdb-time-picker
                    [buttonLabel]="'Done'"
                    [twelvehour]="true"
                    [darktheme]="false"
                    [placeholder]="'Selected time'"
                    [label]="'Time'"
                    [ngModel]="timeTo">
                  </mdb-time-picker>
                </div>
              </div>
              <div class="md-form">
                <mdb-select
                  class="select-wrapper mdb-select colorful-select dropdown-info md-form"
                  [options]="iconPrioritySelect"
                  [(ngModel)]="selectedPriority"
                  placeholder="Choose your option">
                </mdb-select>
                <label>Priority</label>
              </div>
            </div>
          </div>
        </mdb-tab>
      </mdb-tabset>
    </div>
  </div>