<div class="modal-header d-flex justify-content-center">
    <p class="heading">Cập nhật công ty</p>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3 row">
    <div class="col-md-12">
      <div class="md-form mt-0 mb-3">
        <input type="text" id="name" class="form-control" mdbInput [(ngModel)]="company.name">
        <label for="name">Tên</label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="md-form mt-0 mb-3">
        <input type="text" id="phone" class="form-control" mdbInput [(ngModel)]="company.phone">
        <label for="phone">Số điện thoại</label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="md-form mt-0 mb-3">
        <input type="text" [(ngModel)]='location.address_level_1' class="form-control" id="searchField" mdbInput>
        <label for="searchField">Địa chỉ công ty</label>

      </div>
      <div class="row">
        <div class="col-md-12 d-flex flex-center">
          <button mdbBtn color="primary" mdbWavesLight (click)='updateOnMap()' type="submit">
            Tìm kiếm
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <agm-map #map [mapTypeId]="'terrain'" [latitude]="location.lat" [longitude]="location.lng"
        [zoom]="location.zoom" style="height: 300px">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
      </agm-map>
    </div>

    <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
      <div mdbBtn floating="true" size="md" color="blue" mdbWavesEffect>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
          (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      </div>
      <div class="file-path-wrapper mt-3">
        <input class="file-path" type="text" placeholder="Chọn hình ảnh tải lên" [value]="showFiles()">
      </div>
    </div>
    <div class="col text-center w-100" *ngIf="(company.picture || url) && userAccount.roleId === 1">
      <img [src]="company.picture || url" height="150">
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="updateCompany()">Cập nhật
      <i class="fa fa-check ml-1"></i>
    </button>
  </div>