<div class="" id="schedule">
  <div class="card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-6 col-9 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý công việc thường nhật</h2>
          </div>
        </div>
        <div class="col-xl-6 col-2 mr-0 text-right">
          <!-- <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>
                <i class="fa fa-search"></i>
              </button> -->
          <a class="btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i></a>
        </div>
        <div class="card-body card-body-cascade pb-0 px-5 col-12">

          <div class="col-md-12 mx-auto text-left my-3">
            <div class="d-flex flex-wrap w-100">
              <h5 style="color: #8993a4" class="text-left col-xl-8 col-lg-12">
                Các công việc thường nhật đang phụ trách</h5>
            </div>
            <table class="table table-hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th (click)="sort('title')">
                    Công việc
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('workplace.name')">
                    Địa điểm
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('employee.name')">
                    Người thực hiện
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('startTime')">
                    Thời gian
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('daysOfWeek')" style="width: 165px">
                    Các ngày trong tuần
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th>
                    Trạng thái
                  </th>
                  <th>
                    Thao tác
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of scheduleList" style="cursor: pointer"
                [ngStyle]="{'opacity': item.status === 0 ? '.5' : '1'}">
                  <td (click)="openDetailModal(item.id)">
                    {{ item.title }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.workplaceName }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.assignee.name }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.startTime | date: 'HH:mm' }} - {{ item.endTime | date: 'HH:mm' }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    <span *ngFor="let day of item.dayList; let i = index">
                      <span *ngIf="day == 1">Chủ nhật</span>
                      <span *ngIf="day != 1">Thứ {{day}}</span>
                      <span *ngIf="i !== item.dayList.length - 1">, </span>
                    </span>
                  </td>
                  <td class="d-flex flex-wrap w-100 justify-content-center">
                    <div class="switch rounded blue-white-switch my-auto">
                      <label>
                        Dừng
                        <input type="checkbox" (change)="switch($event, item.id)" [checked]="item.status === 1">
                        <span class="lever"></span> Tiếp tục
                      </label>
                    </div>
                  </td>
                  <td>
                    <a mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect (click)="openDeleteModal(item.id)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-pagination *ngIf="scheduleResponse?.totalPages > 1" [pageSize]="scheduleResponse.size"
                [totalPage]="scheduleResponse.totalPages" [currentPage]="scheduleResponse.number"
                (changePage)="changePage1($event)">
              </app-pagination>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div mdbModal id="createTaskModal" #create="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc thường nhật</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <input type="text" id="title" class="form-control" mdbInput [(ngModel)]="scheduleCM.title">
          <label for="title">Tên công việc</label>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <mdb-select [label]="'Công ty'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true"
            [options]="companyList" (selected)="selectCompany($event)"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectCompany">
          <mdb-select [label]="'Khu vực'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="zoneList"
            (selected)="selectZone($event)"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectZone">
          <mdb-select [label]="'Địa điểm'" [notFoundMsg]="'Không tìm thấy'" [filterEnabled]="true" [options]="placeList"
            (selected)="selectWorkplace($event)"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
          <mdb-select [label]="'Người thực hiện'" [notFoundMsg]="'Không tìm thấy'" [options]="employeeList"
            [filterEnabled]="true" [(ngModel)]="scheduleCM.assigneeId"></mdb-select>
        </div>

        <owl-form-field class="col-12 px-0" *ngIf="isSelectWorkplace">
          <input owlInput [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" placeholder="Giờ bắt đầu"
            [(ngModel)]="scheduleCM.startTime">
          <owl-date-time #datepicker [pickerType]="'timer'"></owl-date-time>
        </owl-form-field>

        <span *ngIf="isSelectWorkplace">Thời lượng:
          <span class="font-weight-bold">{{scheduleCM?.duration}} phút</span>
        </span>
        <div class="w-100 d-flex justify-content-center align-items-center my-3" *ngIf="isSelectWorkplace">
          <mdb-range-input id="range" [min]="10" [step]="10" [max]="300" name="range"
            (rangeValueChange)="isSelectRange = true" [ngModel]="scheduleCM.duration" (ngModelChange)="changeDuration($event)" class="w-100"></mdb-range-input>
          <span class="ml-2">phút</span>
        </div>

        <h6 class="font-weight-bold col-12 px-0">Các ngày lặp lại trong tuần</h6>
        <div class="form-check form-check-inline d-flex flex-wrap w-100">
          <div class="col-6" *ngFor="let day of week">
            <input type="checkbox" class="form-check-input" [id]="day.inputId" [(ngModel)]="day.check">
            <label class="form-check-label" [for]="day.inputId">{{ day.label }} </label>
          </div>
        </div>

        <hr>

        <div *ngIf="isSelectWorkplace" class="d-flex flex-wrap w-100 pt-3">
          <p class="h6 col-12 px-0">Danh sách công việc gợi ý</p>
          <div *ngFor="let list of taskBasicList; let i of index" class="col-6">
            <mdb-checkbox name="item-{{i}}" [checked]="list.checked" #checkbox
              (change)="changeCheckbox(list.id, $event)">{{list.title}}</mdb-checkbox>
          </div>
        </div>

        <div class="col-12 md-form my-3 px-0" *ngIf="isSelectWorkplace">
          <textarea type="text" id="description" class="md-textarea form-control" mdbInput
            [(ngModel)]="scheduleCM.description"></textarea>
          <label>Miêu tả chi tiết</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createSchedule()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa công việc này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeSchedule()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>