<div class="" id="schedule">
  <div class="card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-6 col-9 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý công việc thường nhật</h2>
          </div>
        </div>
        <div class="col-xl-6 col-2 mr-0 text-right">
          <!-- <button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>
                <i class="fa fa-search"></i>
              </button> -->
          <a class="btn-floating btn-md btn-success" (click)="openCreateModal()"><i class="fa fa-plus"></i></a>
        </div>
        <div class="card-body card-body-cascade pb-0 px-5 col-12">

          <div class="col-md-12 mx-auto text-left my-3">
            <div class="d-flex flex-wrap w-100">
              <h5 style="color: #8993a4" class="text-left col-xl-8 col-lg-12">
                Các công việc thường nhật đang phụ trách</h5>
            </div>
            <div class="col-md-12">
                <!-- Search -->
              <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" mdbInput (keyup)="searchSchedule()">
                <label>Tìm kiếm</label>
              </div>

            </div>
            <table class="table table-hover" cellspacing="0" width="100%" *ngIf="scheduleResponse?.totalElements !== 0">
              <thead>
                <tr>
                  <th (click)="sort('title')">
                    Công việc
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('workplace.name')">
                    Địa điểm
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('employee.name')">
                    Người thực hiện
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('startTime')">
                    Thời gian
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th (click)="sort('daysOfWeek')" style="width: 165px">
                    Các ngày trong tuần
                    <mdb-icon icon="sort"></mdb-icon>
                  </th>
                  <th>
                    Trạng thái
                  </th>
                  <th>
                    Thao tác
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of scheduleList" style="cursor: pointer"
                [ngStyle]="{'opacity': item.status === 0 ? '.5' : '1'}">
                  <td (click)="openDetailModal(item.id)">
                    {{ item.title }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.workplaceName }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.assignee.name }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    {{ item.startTime | date: 'HH:mm' }} - {{ item.endTime | date: 'HH:mm' }}
                  </td>
                  <td (click)="openDetailModal(item.id)">
                    <span *ngFor="let day of item.dayList; let i = index">
                      <span *ngIf="day == 1">Chủ nhật</span>
                      <span *ngIf="day != 1">Thứ {{day}}</span>
                      <span *ngIf="i !== item.dayList.length - 1">, </span>
                    </span>
                  </td>
                  <td>
                    <div class="switch rounded blue-white-switch my-auto">
                      <label>
                        Dừng
                        <input type="checkbox" (change)="switch($event, item.id)" [checked]="item.status === 1">
                        <span class="lever"></span> Tiếp tục
                      </label>
                    </div>
                  </td>
                  <td>
                    <a mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect (click)="openDeleteModal(item.id)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-pagination *ngIf="scheduleResponse?.totalPages > 1" [pageSize]="scheduleResponse.size"
              [totalPage]="scheduleResponse.totalPages" [currentPage]="scheduleResponse.number"
              (changePage)="changePage1($event)">
            </app-pagination>
            <div *ngIf="scheduleResponse?.totalElements === 0" class="col-12 py-3">
              <h6 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div mdbModal id="createTaskModal" #create="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo công việc thường nhật</p>
      </div>
      <div class="modal-body mx-3 row">
        <form (ngSubmit)="createSchedule()" #createForm="ngForm" class="d-flex flex-wrap w-100">
          <div class="col-md-12 text-left pb-2">
            <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
          </div>
          
          <div class="md-form mt-0 mb-3 col-md-12 px-0">
            <input 
            type="text" 
            id="title" 
            name="title" 
            class="form-control" 
            mdbInput
            required
            maxlength="25"
            #title=ngModel
            [(ngModel)]="scheduleCM.title"
            [class.ng-invalid.validate-error]="(title.invalid && (title.dirty || title.touched))"
            >
            <label for="title">Tên công việc*</label>
            
            <mdb-error *ngIf="scheduleCM.title.length === 25" class="font-weight-normal">Tên công việc nhỏ hơn 25 ký tự</mdb-error>
            <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)" class="font-weight-normal">
              <span *ngIf="title?.errors?.required">Vui lòng nhập tên công việc</span>
            </mdb-error>

          </div>

          <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
            <mdb-select
              id="company"
              name="company"
              [label]="'Công ty*'"
              [notFoundMsg]="'Không tìm thấy'"
              [filterEnabled]="true"
              ngModel
              required
              #companyId=ngModel
              [options]="companyList"
              [class.ng-invalid.validate-error]="companyId.invalid && (companyId.dirty || companyId.touched)"
              (selected)="selectCompany($event)">
            </mdb-select>
            <span
              class="text-danger font-weight-normal"
              *ngIf="companyId.invalid && (companyId.dirty || companyId.touched)"
              style="font-size: .8rem">
              Vui lòng chọn công ty
            </span>

          </div>
  
          <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectCompany">
            <mdb-select
              id="zone"
              name="zone"
              [label]="'Khu vực*'"
              ngModel
              required
              #zoneId="ngModel"
              [notFoundMsg]="'Không tìm thấy'"
              [filterEnabled]="true"
              [class.ng-invalid.validate-error]="zoneId.invalid && (zoneId.dirty || zoneId.touched)"
              [options]="zoneList"
              (selected)="selectZone($event)">
            </mdb-select>
            <span
              class="text-danger font-weight-normal"
              *ngIf="zoneId.invalid && (zoneId.dirty || zoneId.touched)"
              style="font-size: .8rem">
              Vui lòng chọn khu vực
            </span>
          </div>
  
          <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0" *ngIf="isSelectZone">
            <mdb-select 
              id="workplace"
              name="workplace"
              [label]="'Nơi làm việc*'" 
              ngModel
              required
              #workplaceId=ngModel
              [notFoundMsg]="'Không tìm thấy'" 
              [filterEnabled]="true" 
              [class.ng-invalid.validate-error]="workplaceId.invalid && (workplaceId.dirty || workplaceId.touched)"
              [options]="placeList"
              (selected)="selectWorkplace($event)">
            </mdb-select>
            <span
              class="text-danger font-weight-normal"
              *ngIf="workplaceId.invalid && (workplaceId.dirty || workplaceId.touched)"
              style="font-size: .8rem">
              Vui lòng chọn nơi làm việc
            </span>
          </div>

          <div class="md-form mt-0 mb-3 col-6 col-md-12 px-0">
            <mdb-select 
              id="employee"
              name="employee"
              [label]="'Người thực hiện*'" 
              [notFoundMsg]="'Không tìm thấy'" 
              [filterEnabled]="true"
              ngModel
              required
              #employeeId=ngModel
              [options]="employeeList"
              (selected)="selectEmployee($event)"
              [class.ng-invalid.validate-error]="employeeId.invalid && (employeeId.dirty || employeeId.touched)"
            >
            </mdb-select>
            <span
              class="text-danger font-weight-normal"
              *ngIf="employeeId.invalid && (employeeId.dirty || employeeId.touched)"
              style="font-size: .8rem">
              Vui lòng chọn nhân viên
            </span>
          </div>

          <owl-form-field class="col-12 px-0" *ngIf="isSelectWorkplace">
            <input
              owlInput
              name="startTime"
              [owlDateTimeTrigger]="datepicker"
              [owlDateTime]="datepicker"
              [(ngModel)]="scheduleCM.startTime"
              placeholder="Giờ bắt đầu"
              required
              #dateTime="ngModel">
            <owl-date-time #datepicker [pickerType]="'timer'"></owl-date-time>
            <owl-error *ngIf="dateTime?.errors?.required">
                Vui lòng nhập giờ bắt đầu
            </owl-error>
          </owl-form-field>

          <span *ngIf="isSelectWorkplace">
            Thời lượng:
            <span class="font-weight-bold">{{scheduleCM?.duration}} phút</span>
          </span>
          <div class="w-100 d-flex justify-content-center align-items-center my-3" *ngIf="isSelectWorkplace">
            <mdb-range-input
              id="range"
              [min]="30"
              [step]="10"
              [max]="300"
              name="range"
              #duration=ngModel
              required
              (rangeValueChange)="isSelectRange = true"
              [ngModel]="scheduleCM.duration"
              (ngModelChange)="changeDuration($event)"
              class="w-100">
            </mdb-range-input>
            <span class="ml-2">phút</span>
            <mdb-error *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="font-weight-normal">
              <span *ngIf="duration?.errors?.required">Vui lòng chọn thời lượng công việc</span>
            </mdb-error>
          </div>

          <h6 class="font-weight-normal col-12 px-0">Thời gian bắt đầu thực hiện lặp lịch</h6>

          <div class="form-check radio-green col-12 px-0">
            <input type="radio" class="form-check-input" id="radioGreen1" name="groupOfRadioGreen" mdbInput checked [(ngModel)]="option" [value]="optionThisWeek">
            <label class="form-check-label" for="radioGreen1">Bắt đầu ngay trong tuần</label>
          </div>
          
          <div class="form-check radio-green col-12 px-0">
            <input type="radio" class="form-check-input" id="radioGreen2" name="groupOfRadioGreen" mdbInput [(ngModel)]="option" [value]="optionNextWeek">
            <label class="form-check-label" for="radioGreen2">Bắt đầu vào đầu tuần sau</label>
          </div>
  
          <h6 class="font-weight-normal col-12 px-0 pt-3">Các ngày lặp lại trong tuần</h6>
          <div class="form-check form-check-inline d-flex flex-wrap w-100">
            <div class="col-6" *ngFor="let day of week">
              <input
                [id]="day.inputId"
                [name]="day.inputId"
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="day.check"
                [class.ng-invalid.validate-error]="selectAtLeastOneDay"
                (change)="changeDay()">
              <label class="form-check-label" [for]="day.inputId">{{ day.label }} </label>
            </div>
            <div class="col-6">
              <small class="text-danger font-weight-normal" *ngIf="selectAtLeastOneDay">
                Chọn ít nhất 1 thứ trong tuần
              </small>
            </div>
          </div>
  
          <hr>
  
          <div *ngIf="isSelectWorkplace" class="d-flex flex-wrap w-100 pt-3">
            <p class="h6 col-12 px-0">Danh sách công việc gợi ý
              <a mdbBtn floating="true" size="sm" color="success" mdbWavesEffect>
                <i class="fa fa-plus" (click)="openCreateBasicTaskModal(createBT)"></i>
              </a>
            </p>
            <div *ngFor="let list of taskBasicList; let i = index" class="col-6">
              <input
                id="item-{{i}}"
                name="item-{{i}}"
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="list.checked"
                [class.ng-invalid.validate-error]="selectAtLeastOneTaskBasic"
                (change)="changeCheckbox(list.id, $event)">
              <label class="form-check-label" for="item-{{i}}">{{ list.title }} </label>
            </div>
            <div class="col-6">
              <small class="text-danger font-weight-normal" *ngIf="selectAtLeastOneTaskBasic">
                Chọn ít nhất 1 công việc
              </small>
            </div>
          </div>
  
          <div class="col-12 md-form my-3 px-0" *ngIf="isSelectWorkplace">
            <textarea
              type="text"
              id="description"
              name="description"
              class="md-textarea form-control"
              mdbInput
              [(ngModel)]="scheduleCM.description">
            </textarea>
            <label>Miêu tả chi tiết</label>
          </div>

          <div class="col-12 text-center mt-3 border-top pt-3">
            <button mdbBtn color="success" class="waves-light" mdbWavesEffect [disabled]="(!createForm.form.valid || selectAtLeastOneDay || selectAtLeastOneTaskBasic)">Tạo mới
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa công việc thường nhật này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeSchedule()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<ng-template #createBT>

  <div class="modal-header d-flex justify-content-center">
    <p class="heading">Tạo công việc</p>
  </div>
  <div class="modal-body mx-3 row">
    <form (ngSubmit)="createTaskBasic()" #createForm="ngForm" class="d-flex flex-wrap w-100">
      <div class="md-form mt-0 mb-3 col-md-12">
        <input 
        type="text" 
        id="title" 
        name="title" 
        class="form-control" 
        mdbInput
        required
        maxlength="25"
        #title=ngModel
        [(ngModel)]="taskBasicCM.title"
        [class.ng-invalid.validate-error]="(title.invalid && (title.dirty || title.touched))"
        >
        <label for="title">Tên*</label>
        
        <mdb-error *ngIf="taskBasicCM.title.length === 25" class="font-weight-normal">Tên công việc nhỏ hơn 25 ký tự</mdb-error>
        <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)" class="font-weight-normal">
          <span *ngIf="title?.errors?.required">Vui lòng nhập tên công việc</span>
        </mdb-error>

      </div>

      <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
        <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
            (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </div>
        <div class="file-path-wrapper mt-3">
          <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()" disabled>
        </div>
      </div>
      <div class="col text-center" *ngIf="url">
        <img [src]="url" height="100">
      </div>
      <div class="col-12 text-center mt-3 border-top pt-3">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect [disabled]="!createForm.form.valid">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </form>
  </div>

</ng-template>