<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up blue-gradient lighten-1">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/31485522_1680505475399181_3420546009330089984_n.jpg?_nc_cat=105&_nc_oc=AQnxJNamjoUGy0i3XI3oxAIm2NcakB6aeIM9uwwO3-I00Pky2fkHDaTD2Cx5B-J9sCM&_nc_ht=scontent.fsgn4-1.fna&oh=e9d30d960f94ab1ba7180b3257e2cfac&oe=5CB63D7E" class="rounded-circle">
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>Nguyễn Sinh Cung</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <p>
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
              <mdb-icon icon="facebook"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
              <i class="fa fa-github"></i>
            </a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
              <i class="fa fa-google-plus"></i>
            </a>
          </p>
          <hr>
          <!-- About -->
          <p class="h6">About</p>
          <mdb-card-text>
            <i class="fa fa-user mr-2"></i> Thái Hoàng Danh
            <br>
            <i class="fa fa-phone mr-2"></i> 0999999999
            <br>
            <i class="fa fa-building-o mr-2"></i> Tòa nhà số 8
            <br>
            <i class="fa fa-map-marker mr-2"></i> Hồ Chí Minh, Việt Nam, Trái Đất
            <br>
            <i class="fa fa-envelope-open-o mr-2"></i> cungns@dfk-com.vn
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>