<ng-container *ngIf="isLogin; then isLoggedIn else notLoggedIn"></ng-container>

<!--Double navigation-->
<ng-template #isLoggedIn>
  <header>
  
      <!-- Sidebar navigation -->
    <mdb-side-nav #sidenav class="sn-bg-1" [fixed]="false">
  
      <mdb-navbar-brand>
        <li>
          <div class="logo-wrapper waves-light">
            <a routerLink="/dashboard">
              <img src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfW+4uW8BVCjkKUgzNuaTdA9wlrlSU7w6wytLhuJxwF5VYOixAHcs4=" class="img-fluid flex-center">
            </a>
          </div>
        </li>
        <!--/. Logo -->
      </mdb-navbar-brand>
  
      <links>
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion pt-5">
            <mdb-accordion [multiple]="false" aria-multiselectable="false">
  
              <!-- Sidebar item -->
              <mdb-accordion-item>
                <mdb-accordion-item-head mdbWavesEffect routerLink="/laborer">
                  <i class="fa fa-users"></i> 
                  <span>Employee</span>
                </mdb-accordion-item-head>
                <mdb-accordion-item-body>
                  <ul>
                    <li>
                      <a routerLink="/laborer" class="waves-effect" mdbWavesEffect>
                        <i class="fa fa-user"></i> 
                        Laborer
                      </a>
                    </li>
                    <li>
                      <a routerLink="/saler" class="waves-effect" mdbWavesEffect>
                        <i class="fa fa-user"></i> 
                        Saler
                      </a>
                    </li>
                  </ul>
                </mdb-accordion-item-body>
              </mdb-accordion-item>
  
              <!-- Sidebar item -->
              <mdb-accordion-item class="no-collase">
                <mdb-accordion-item-head mdbWavesEffect routerLink="/manager">
                  <i class="fa fa-star"></i> 
                  <span>Manager</span>
                </mdb-accordion-item-head>
                <mdb-accordion-item-body></mdb-accordion-item-body>
              </mdb-accordion-item>
  
              <!-- Sidebar item -->
              <mdb-accordion-item>
                <mdb-accordion-item-head mdbWavesEffect rounterLink="/task">
                  <i class="fa fa-list"></i> 
                  <span>Task</span>
                </mdb-accordion-item-head>
                <mdb-accordion-item-body>
                  <ul>
                    <li>
                      <a routerLink="/task" class="waves-effect" mdbWavesEffect>
                        <i class="fa fa-tasks"></i> 
                        Quick task
                      </a>
                    </li>
                    <li>
                      <a routerLink="/schedule" class="waves-effect" mdbWavesEffect>
                        <i class="fa fa-tasks"></i> 
                        Schedule task
                      </a>
                    </li>
                  </ul>
                </mdb-accordion-item-body>
              </mdb-accordion-item>
              
              <mdb-accordion-item class="no-collase">
                <mdb-accordion-item-head mdbWavesEffect routerLink="/place">
                  <i class="fa fa-location-arrow"></i> 
                  <span>Place</span>
                </mdb-accordion-item-head>
                <mdb-accordion-item-body></mdb-accordion-item-body>
              </mdb-accordion-item>
              
              <!-- Sidebar item -->
              <mdb-accordion-item class="no-collase">
                <mdb-accordion-item-head mdbWavesEffect routerLink="/beacon">
                  <i class="fa fa-microchip"></i> 
                  <span>Beacon</span>
                </mdb-accordion-item-head>
                <mdb-accordion-item-body></mdb-accordion-item-body>
              </mdb-accordion-item>
  
  
            </mdb-accordion>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </links>
      <div class="sidenav-bg mask-strong"></div>
    </mdb-side-nav>
    <!--/. Sidebar navigation -->
  
    <!-- Navbar -->
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">
  
      <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-left">
          <a (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <!--/. SideNav slide-out button -->
      </navlinks>
  
      <mdb-navbar-brand>
        <!-- Breadcrumb-->
        <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto">
          <p>Outdoor Employee Management</p>
        </div>
        <!--/. Breadcrumb-->
      </mdb-navbar-brand>
  
      <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
          <li class="nav-item dropdown btn-group" dropdown>
            <span>
              <img src="https://avatars3.githubusercontent.com/u/29126668?s=400&u=81f773df3ce61b5cffab8422e8280b4ce0a7b7b9&v=4">
            </span>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Nguyễn Minh Quân
            </a>
            <div class="dropdown-menu dropdown-ins dropdown-menu-right" role="menu">
              <a class="dropdown-item" [routerLink]="['/view-profile']">Settings</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </navlinks>
    </mdb-navbar>
    <!--/. Navbar -->
  
  </header>
  <!--/.Double navigation-->
    
  <!--Main Layout-->
  <main id="main">
    <router-outlet></router-outlet>
  </main>
</ng-template>
<ng-template #notLoggedIn>
  <router-outlet></router-outlet>
</ng-template>
<!--/Main layout-->