<div class="modal-header d-flex justify-content-center">
  <p class="heading">Cập nhật khu vực</p>
</div>
<div class="modal-body mx-3 row">
  <form (ngSubmit)="updateZone()" #updateForm="ngForm" class="d-flex flex-wrap w-100">
    <div class="md-form mt-0 mb-3 col-md-12">
      
      <div class="col-md-12 text-left pb-2">
        <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
      </div>

      <input 
      type="text" 
      id="title" 
      name="title" 
      class="form-control" 
      mdbInput
      required
      #_title=ngModel
      [(ngModel)]="zone.name"
      [class.ng-invalid.validate-error]="(_title.invalid && (_title.dirty || _title.touched))"
      >
      <label for="title">Tên khu vực*</label>
      
      <mdb-error *ngIf="_title.invalid && (_title.dirty || _title.touched)">
        <span *ngIf="_title?.errors?.required" class="font-weight-normal">Vui lòng nhập tên khu vực</span>
      </mdb-error>

    </div>

    <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
      <div mdbBtn floating="true" size="md" color="primary" mdbWavesEffect>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
          (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
      </div>
      <div class="file-path-wrapper mt-3">
        <input class="file-path" type="text" placeholder="Chọn ảnh" [value]="showFiles()" disabled>
      </div>
    </div>
    <div class="col text-center" *ngIf="zone.picture || url">
      <img [src]="zone.picture || url" height="100">
    </div>
    <div class="col-12 text-center mt-3 border-top pt-3">
      <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [disabled]="!updateForm.form.valid">Cập nhật
        <i class="fa fa-check ml-1"></i>
      </button>
    </div>
  </form>
</div>