<div class="row">
  <div class="col-md-12 mx-auto mt-5">

    <!--Author box-->
    <div class="author-box">
      <!--Name-->
      <h3 class="h3-responsive text-center">Thông tin của tôi</h3>
      <hr>
      <div class="row">
        <!--Avatar-->
        <div class="col-12 col-sm-2">
          <img [src]="info.picture" class="img-fluid rounded-circle z-depth-2">
        </div>
        <!--Author Data-->
        <div class=" col-12 col-sm-10">
          <p><strong>{{info.fullName}}</strong></p>
          <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
          <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia
            quam veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium
            beatae quas libero, esse facere.
          </p> -->
        </div>
      </div>
    </div>
    <!--/.Author box-->

  </div>
</div>