<div class="row">
  <div class="col-md-12 mx-auto mt-5">

    <!--Author box-->
    <div class="author-box">
      <!--Name-->
      <h3 class="h3-responsive text-center">Thông tin của tôi</h3>
      <hr>
      <div class="row">
        <!--Avatar-->
        <div class="col-12 col-sm-2">
          <img [src]="info.picture || defaultImage" class="img-fluid rounded-circle z-depth-2">
        </div>
        <!--Author Data-->
        <div class=" col-12 col-sm-10">
          <p><strong>{{info.fullName}}</strong></p>
          <p class="col-md-12 col-6">Tổng số nhân viên đang quản lý: 
            <span style="font-size: 14px" class="badge badge-success">{{summaryTask?.totalLaborer}}</span>
          </p>
          <p class="col-md-12 col-6">Tổng số nơi làm việc đang quản lý: 
            <span style="font-size: 14px" class="badge badge-info">{{summaryTask?.numberOfWorkplaceIsManaged}}</span>
          </p>
          <p class="col-md-12 col-6">Tổng số đã giao trong tuần: 
            <span style="font-size: 14px" class="badge badge-primary">{{summaryTask?.totalTask}}</span>
          </p>
          <p class="col-md-12 col-6">Tổng số công việc đang chờ duyệt: 
            <span style="font-size: 14px" class="badge badge-warning">{{summaryTask?.numberOfWorkplaceIsManaged}}</span>
          </p>
          <button mdbBtn type="button" color="primary" class="waves-light" rounded="true" mdbWavesEffect>Đổi mật khẩu</button>
        </div>
      </div>
    </div>
    <!--/.Author box-->

  </div>
</div>