<div class="modal-header d-flex justify-content-center">
  <p class="heading">Gợi ý nhân viên phù hợp</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mx-3 row">

  <div class="col-3">
    <owl-form-field class="w-100">
      <input owlInput [min]="minDate" [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker"
        placeholder="Thời gian bắt đầu" [(ngModel)]="startTime" (dateTimeChange)="changeStartTime()">
      <owl-date-time #datepicker></owl-date-time>
    </owl-form-field>
    <span *ngIf="startTime">Thời gian hoàn thành</span>
    <div *ngIf="startTime" class="w-100 d-flex justify-content-center align-items-center my-3">
      <mdb-range-input id="range" [min]="10" [step]="10" [max]="300" name="range"
        (rangeValueChange)="changeRange($event)" [(ngModel)]="duration" class="w-100"></mdb-range-input>
      <span class="ml-2">phút</span>
    </div>
  </div>
  <div class="col-3">
    <h6 class="font-weight-bold" *ngIf="startTime">Công việc sắp tạo tại {{company.label}}
    </h6>
    <div class="col-12" *ngIf="startTime">
      <span class="pt-3">Ngày: {{startTime | date: 'dd-MM-yyyy'}}</span>
      <br>
      <span class="pt-3">Từ: {{startTime | date: 'HH:mm'}}</span>
      <br>
      <span class="pt-3">Đến: {{endTime | date: 'HH:mm'}}</span>
    </div>  
  </div>
  <div class="col-4">
    <h6 *ngIf="startTime" class="font-weight-bold">Các công việc trong ngày tại đây: </h6>
    <div *ngIf="startTime">
      <div *ngFor="let t of taskList; let i = index" class="col-12">
        {{ i + 1 }}. {{ t.assignee }} - từ {{ t.startTime | date: 'HH:mm' }} đến
        {{ t.endTime | date: 'HH:mm' }}
      </div>
    </div>
  </div>
  <div class="col-2">
    <button rounded="true" *ngIf="startTime && duration" type="button" mdbBtn color="primary" class="waves-light"
      (click)="suggest()" mdbWavesEffect>Nhận gợi ý</button>
  </div>

  <div class="md-form mt-0 mb-3 col-6 col-md-12" *ngIf="taskSuggestion.length > 0">
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="text-nowrap">
          <th>Nhân viên</th>
          <th>Danh sách công việc hôm nay</th>
          <th>Kết thúc công việc cũ</th>
          <th>Quãng đường - thời gian 1</th>
          <th>Bắt đầu công việc mới</th>
          <th>Quãng đường - thời gian 2</th>
          <th>Chọn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskSuggestion; let i = index">
          <td>{{ item?.employeeName }}</td>
          <td>
            <p *ngFor="let task of taskSuggestion[i].taskSuggestionModels; let idx = index">
              <span>{{ idx + 1 }}. {{ task?.companyName }} từ {{ task?.startTime | date:'HH:mm' }} đến
                {{ task?.endTime | date:'HH:mm' }}</span>
            </p>
          </td>
          <td>
            {{ item?.endTimePreviousTask | date: 'HH:mm' }}
          </td>
          <td>
            Quãng đường {{ item?.dataTravelFromCpAtoCpc?.distance / 1000 }} Km
            <br>
            Thời gian {{ item?.dataTravelFromCpAtoCpc?.duration / 60000 | number: '1.0-1' }} phút
          </td>
          <td>
            {{ item?.startTimeNextTask | date: 'HH:mm' }}
          </td>
          <td>
            Quãng đường {{ item?.dataTravelFromCpCtoCpB?.distance / 1000 }} Km
            <br>
            Thời gian {{ item?.dataTravelFromCpCtoCpB?.duration / 60000 | number: '1.0-1' }} phút
          </td>
          <td>
            <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="selectEmployee(item.employeeId)">
              <i class="fa fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer d-flex justify-content-center">
  <button type="button" mdbBtn color="light" class="waves-light" aria-label="Close" (click)="cancel()"
    mdbWavesEffect>Quay lại</button>
</div>