<div class="modal-header d-flex justify-content-center">
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true"><i class="fa fa-arrow-left ml-2"></i></span>
  </button>
  <p class="heading">Gợi ý nhân viên phù hợp</p>
</div>
<div class="modal-body mx-3 row">

  <div class="col-4">
    <owl-form-field class="w-100">
      <input owlInput [min]="minDate" [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker"
        placeholder="Thời gian bắt đầu" [(ngModel)]="startTime" (dateTimeChange)="changeStartTime()">
      <owl-date-time #datepicker></owl-date-time>
    </owl-form-field>
    <span>Thời lượng công việc: 
      <span class="font-weight-bold" *ngIf="duration < 60000">{{duration}} phút</span>
      <span class="font-weight-bold" *ngIf="duration >= 60000">{{duration / 60000}} phút</span>
    </span>
    <div class="d-flex justify-content-center align-items-center my-3 w-100">
      <div *ngIf="startTime" class="w-75">
        <mdb-range-input id="range" [min]="30" [step]="10" [max]="300" name="range"
          (rangeValueChange)="changeRange($event)" [(ngModel)]="duration" class="w-100"></mdb-range-input>
      </div>
      <div class="w-25 text-right">
        <a *ngIf="startTime && duration" class="btn-floating btn-md btn-primary" (click)="suggest()"><i
            class="fa fa-lightbulb-o"></i></a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h6 class="font-weight-bold">Công việc sắp tạo tại <span
        class="text-danger font-weight-bold">{{company.label}}</span>
    </h6>
    <div class="col-12 font-weight-normal" style="font-size: 17px">
      <span class="pt-3">Ngày: {{startTime | date: 'dd-MM-yyyy'}}</span>
      <br>
      <span class="pt-3">Thời gian: {{startTime | date: 'HH:mm'}} <span *ngIf="startTime">~</span>
        {{endTime | date: 'HH:mm'}}</span>
    </div>
  </div>
  <div class="col-4">
    <h6 class="font-weight-bold">Các công việc đã giao trong ngày tại đây {{(startTime || minDate) | date: 'dd-MM-yyyy'}}</h6>
    <div>
      <div *ngFor="let t of taskList; let i = index" class="col-12">
        {{ i + 1 }}. {{ t.assignee }} - từ {{ t.startTime | date: 'HH:mm' }} đến
        {{ t.endTime | date: 'HH:mm' }}
      </div>
    </div>
  </div>
  <div class="col-12 text-danger text-right font-weight-normal" *ngIf="taskSuggestion.length > 0">
    * Thời gian giữa mỗi công việc trừ hao 10 phút
  </div>

  <div class="md-form mt-0 mb-3 col-6 col-md-12" *ngIf="taskSuggestion.length > 0">
    <table class="table table-hover table-bordered text-center">
      <thead>
        <tr class="text-center">
          <th>Nhân viên</th>
          <th>Danh sách công việc đã giao hôm nay</th>
          <th>Kết thúc công việc gần nhất tại</th>
          <th>Quãng đường - thời gian đến {{ company.label }}</th>
          <th>Bắt đầu công việc tiếp theo tại</th>
          <th>Quãng đường - thời gian từ {{company.label}}</th>
          <th>Chọn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskSuggestion; let i = index" [ngClass]="{'border-danger': item.typeCase === 0}">
          <td class="text-center">
            <img [src]="item.employeePicture || defaultImage" class="rounded-circle img-responsive list-avatar mr-2">
            <br>
            <span class="font-weight-bold">{{ item.employeeName }}</span>
          </td>
          <td>
            <p *ngFor="let task of taskSuggestion[i].taskSuggestionModels; let idx = index">
              <span>{{ idx + 1 }}. {{ task?.companyName }} từ {{ task?.startTime | date:'HH:mm' }} đến
                {{ task?.endTime | date:'HH:mm' }}</span>
              <br>
            </p>
            <span *ngIf="item.typeCase === 0" class="text-danger font-weight-normal">Không có thời gian phù hợp</span>
          </td>
          <td class="text-center">
            <div *ngIf="item.typeCase !== 0">
              <span *ngIf="item.cpaName">
                <span class="font-weight-bold">{{item?.cpaName}}</span>
                <br>
                Lúc <span class="text-danger font-weight-normal">{{ item?.endTimePreviousTask | date: 'HH:mm' }}</span>
                <br>
                <!-- Khoảng thời gian đến công việc sắp tạo {{item?.endTimePreviousTask | date: 'HH:mm'}} - {{startTime | date: 'HH:mm'}} là -->
                Thời gian trống đến công việc đang tạo
                <br>
                <span class="font-weight-normal text-danger" *ngIf="item?.timeAllowedCpaToCpc/60000 < 60">
                  {{item?.timeAllowedCpaToCpc/60000 | number: '1.0-0'}} phút
                </span>
                <span class="font-weight-normal text-danger" *ngIf="item?.timeAllowedCpaToCpc/60000 >= 60">
                  {{item?.timeAllowedCpaToCpc/60000/60 | number: '1.0-0'}} giờ
                </span>
              </span>
            </div>
          </td>
          <td>
            <p *ngIf="item.typeCase !== 0">
              <span class="font-weight-bold">Điểm xuất phát: {{item.moveFromHome ? 'Nhà' : item?.cpaName}}</span>
              <br>
              Quãng đường dự kiến <br><span
                class="font-weight-normal text-danger">{{ item?.dataTravelFromCpAtoCpc?.distance / 1000 | number: '1.0-1' }}
                Km</span>
              <br>
              Thời gian dự kiến <br><span
                class="font-weight-normal text-danger">{{ item?.dataTravelFromCpAtoCpc?.duration / 60000 | number: '1.0-0' }}
                phút</span>
              <br>
              <span *ngIf="!item.caseCpaToCpcAvailable" class="text-danger font-weight-normal">
                Thời gian không phù hợp
                <br>
                ({{item?.dataTravelFromCpAtoCpc?.duration/60000 | number: '1.0-0'}} + 10) phút >
                {{item?.timeAllowedCpaToCpc/60000 | number: '1.0-0'}} phút
              </span>
            </p>
          </td>
          <td class="text-center">
            <div *ngIf="item.typeCase !== 0">
              <span *ngIf="item.cpbName">
                <span class="font-weight-bold">{{item?.cpbName}}</span>
                <br>
                Lúc <span class="text-danger font-weight-normal">{{ item?.startTimeNextTask | date: 'HH:mm' }}</span>
                <br>
                Thời gian trống từ công việc đang tạo đến công việc tiếp theo
                <span class="font-weight-normal text-danger" *ngIf="item?.timeAllowedCpcToCpB/60000 < 60">
                  {{item?.timeAllowedCpcToCpB/60000 | number: '1.0-0'}} phút
                </span>
                <span class="font-weight-normal text-danger" *ngIf="item?.timeAllowedCpcToCpB/60000 >= 60">
                  {{item?.timeAllowedCpcToCpB/60000/60 | number: '1.0-0'}} giờ
                </span>
              </span>
            </div>
          </td>
          <td>
            <div *ngIf="item.typeCase !== 0 && item?.cpbName">
              <span class="font-weight-bold">Điểm đến: {{ item.cpbName ? item?.cpbName : 'Nhà' }}</span>
              <br>
              <div>
                Quãng đường dự kiến <br><span
                  class="font-weight-normal text-danger">{{ item?.dataTravelFromCpCtoCpB?.distance / 1000 | number: '1.0-1' }}
                  Km</span>
                <br>
                Thời gian dự kiến <br><span
                  class="font-weight-normal text-danger">{{ item?.dataTravelFromCpCtoCpB?.duration / 60000 | number: '1.0-0' }}
                  phút</span>
                <br>
                <span *ngIf="!item.caseCpcToCpbAvailable" class="text-danger font-weight-normal">
                  Thời gian không phù hợp
                  <br>
                  ({{item?.dataTravelFromCpCtoCpB?.duration/60000 | number: '1.0-0'}} + 10) phút >
                  {{item?.timeAllowedCpcToCpB/60000 | number: '1.0-0'}} phút
                </span>
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="item.typeCase !== 0">
              <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect
                (click)="selectEmployee(item.employeeId)">
                <i class="fa fa-check"></i>
              </button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>