.list-avatar {
  height: 50px !important;
  width: 50px !important;
}
.back-button {
  color: #4285f4 !important;
}
.close {
  color: #fff !important;
  position: absolute;
  top: 20px;
  left: 10px;
}