button.addNewButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
i.fa:not(.fa-4x) {
  font-size: 1rem !important;
}
.md-form label {
  left: auto;
}
mdb-select > div > div.single > div.placeholder {
  color: #757575 !important;
}
.remove-employee {
  color: #FF3547 !important;
  cursor: pointer;
}