<div id="laborer">
  <!-- Basic example -->
  <div class="card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-5 col-lg-12 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý nhân viên</h2>
          </div>
        </div>
        <div class="col-xl-7 col-lg-12 m-auto text-right">
          <a class="remove-employee pr-5" *ngIf="!showRemovedEmp && userAccount.roleId === 1" (click)="getRemovedEmployee()">Danh sách nhân viên đã nghỉ việc</a>
          <a class="remove-employee pr-5" *ngIf="showRemovedEmp && userAccount.roleId === 1" (click)="getEmployeeByAdmin()">Trở lại</a>
        </div>
        <div class="card-body card-body-cascade pb-0">
          <div class="d-flex flex-wrap card-body pt-3">
            <!-- Grid row -->

            <!-- Grid column -->
            <div class="col-md-2">
              <!-- Add button -->
              <button *ngIf="userAccount.roleId === 1" title="Tạo mới nhân viên" mdbBtn type="button" color="success"
                rounded="true" size="sm" class="addNewButton w-75" mdbWavesEffect (click)="openCreateModal()">
                <i class="fa fa-plus"></i>
              </button>

            </div>
            <div [ngClass]="{'col-md-10': userAccount.roleId === 1, 'col-md-12': userAccount.roleId === 2}">
              <!-- Search -->
              <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" mdbInput placeholder="">
                <label>Tìm kiếm</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Table-->
          <table class="table table-hover">

            <!--Table head-->
            <thead>
              <tr>
                <th class="text-center">Hình ảnh</th>
                <th (click)="sort('firstName')">
                  Họ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('lastName')">
                  Tên
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('roleId')" style="width: 100px; max-width: 100px">
                  Chức vụ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('phoneNumber')" style="width: 140px; max-width: 140px">
                  Số điện thoại
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('address')">
                  Địa chỉ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th *ngIf="userAccount.roleId === 2">Trạng thái</th>
                <th [ngStyle]="userAccount.roleId === 1 && {'width': '300px', 'max-width': '300px'}" *ngIf="!showRemovedEmp">Thao tác</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr [ngStyle]="{'opacity': data.status === 2 && userAccount.roleId === 2 ? '.5' : '1'}"
                *ngFor="let data of employeeList">
                <td scope="row" style="position: relative; width: 120px">
                  <img src="{{data.picture}}" alt="image" class="avatar">
                </td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td [ngClass]="{'text-danger' : data.roleId === 2}">{{data.roleName}}</td>
                <!-- <td>{{data.sex ? 'Nam' : 'Nữ'}}</td> -->
                <td>{{data.phoneNumber}}</td>
                <td>{{data.address}}</td>
                <td *ngIf="userAccount.roleId === 2" class="text-nowrap">
                  <div class="switch rounded blue-white-switch">
                    <label>
                      Tạm nghỉ
                      <input type="checkbox" (change)="switch($event, data.id)" [checked]="data.status === 1">
                      <span class="lever"></span> Làm việc
                    </label>
                  </div>
                </td>
                <td class="d-flex justify-content-start" *ngIf="!showRemovedEmp">
                  <button *ngIf="data.roleId !== 2" title="Chi tiết" mdbBtn type="button" rounded="true" color="warning"
                    class="waves-light" size="sm" mdbWavesEffect [routerLink]="['/employee-detail', data.id]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button *ngIf="data.roleId === 2" title="Chi tiết" mdbBtn type="button" rounded="true" color="warning"
                    class="waves-light" size="sm" mdbWavesEffect [routerLink]="['/manager-detail', data.id]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button *ngIf="userAccount.roleId === 1" title="Cập nhật" mdbBtn type="button" rounded="true"
                    color="primary" class="waves-light" size="sm" mdbWavesEffect (click)="openUpdateModal(data)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button *ngIf="userAccount.roleId === 1" title="Xóa" mdbBtn type="button" rounded="true"
                    color="danger" class="waves-light" size="sm" mdbWavesEffect (click)="openDeleteModal(data.id)">
                    <i class="fa fa-ban"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <app-pagination *ngIf="employeeResponse?.totalPages > 1" [pageSize]="employeeResponse.size"
            [totalPage]="employeeResponse.totalPages" [currentPage]="employeeResponse.number"
            (changePage)="changePage($event)">
          </app-pagination>
          <!--Table-->

        </div>
      </div>
    </section>
  </div>
</div>
<!-- Basic example -->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới nhân viên</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">

        <div class="md-form mt-1 mb-3 col-md-12 ">
          <mdb-select [label]="'Chức vụ'" [notFoundMsg]="'Không tìm thấy'" [options]="roleList"
            (selected)="selectRole($event)"></mdb-select>
        </div>

        <div class="md-form mt-1 mb-3 col-md-12" *ngIf="employeeCM.roleId === 2">
          <input type="text" id="email" class="form-control" mdbInput [(ngModel)]="employeeCM.email"
            (blur)="checkEmailExist()" #email=ngModel [class.has-error]="isExist">
          <label for="email">Email</label>
          <mdb-error *ngIf="isExist">
            <p class="font-weight-bold">Email đã tồn tại</p>
          </mdb-error>
        </div>

        <div class="md-form mt-1 mb-3 col-md-12" *ngIf="employeeCM.roleId === 3">
          <mdb-select [label]="'Người quản lý'" [notFoundMsg]="'Không tìm thấy'" [options]="managerList"
            [(ngModel)]="employeeCM.managerId"></mdb-select>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6">
          <input type="text" id="employeeId" class="form-control" mdbInput [(ngModel)]="employeeCM.employeeId"
            (blur)="checkDuplicateId()" #employeeId=ngModel [class.has-error]="isDuplicate">
          <label for="employeeId">Mã số nhân viên</label>
          <mdb-error *ngIf="isDuplicate">
            <p class="font-weight-bold">Mã số nhân viên đã tồn tại</p>
          </mdb-error>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6">
          <input type="password" id="password" class="form-control" mdbInput [(ngModel)]="employeeCM.password">
          <label for="password">Mật khẩu</label>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6">
          <input type="text" id="firstName" class="form-control" mdbInput [(ngModel)]="employeeCM.firstName">
          <label for="firstName">Họ</label>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6">
          <input type="text" id="lastName" class="form-control" mdbInput [(ngModel)]="employeeCM.lastName">
          <label for="lastName">Tên</label>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6 ">
          <mdb-select [label]="'Giới tính'" [options]="optionsSex" id="gender" [(ngModel)]="gender"></mdb-select>
        </div>

        <div class="md-form mt-1 mb-1 col-md-6">
          <input type="text" id="phoneNumber" class="form-control" mdbInput [(ngModel)]="employeeCM.phoneNumber">
          <label for="phoneNumber">Số điện thoại</label>
        </div>


        <owl-form-field class="col-md-6">
          <input owlInput [owlDateTimeTrigger]="datepicker" [owlDateTime]="datepicker" placeholder="Sinh nhật"
            [(ngModel)]="employeeCM.birthDate">
          <owl-date-time #datepicker [pickerType]="'calendar'"></owl-date-time>
        </owl-form-field>

        <div class="md-form m-0 col-md-6">
          <input type="text" id="macAddress" class="form-control" mdbInput [(ngModel)]="employeeCM.phoneMacAddress">
          <label for="macAddress">Địa chỉ MAC</label>
        </div>

        <div class="col-md-12">
          <div class="md-form mt-0 mb-3 form-inline mr-auto w-100">

            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->

            <input type="text" [(ngModel)]='location.address_level_1' class="form-control mr-sm-2" id="searchField"
              mdbInput>
            <label for="searchField">Địa chỉ</label>
            <button mdbBtn size="sm" color="primary" rounded="true" class="my-0 waves-light" mdbWavesEffect
              type="submit" (click)='updateOnMap()'>
              <i class="fa fa-search"></i>
            </button>

          </div>
          <!-- <div class="row">
            <div class="col-md-12 d-flex flex-center">
              <button mdbBtn color="primary" mdbWavesLight (click)='updateOnMap()' type="submit">
                Tìm kiếm
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div> -->
        </div>

        <div class="col-md-12">
          <agm-map #map [mapTypeId]="'terrain'" [latitude]="location.lat" [longitude]="location.lng"
            [zoom]="location.zoom" style="height: 300px">
            <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
          </agm-map>
        </div>

        <div class="file-field md-form col-12 pl-0 mt-1 mb-3">
          <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
              (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Chọn ảnh đại diện" [value]="showFiles()">
          </div>
        </div>
        <div class="col text-center w-100" *ngIf="url">
          <img [src]="url" height="150">
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center" *ngIf="!isExist">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createEmployee()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa nhân viên này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeEmployee()">Đồng
          ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>