<div id="laborer">
  <!-- Basic example -->
  <div class="card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-5 col-lg-12 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý nhân viên</h2>
          </div>
        </div>
        <div class="card-body card-body-cascade pb-0">
          <div class="d-flex flex-wrap card-body pt-3">
            <!-- Grid row -->

            <!-- Grid column -->
            <div class="col-md-2">
              <!-- Add button -->
              <button title="Tạo mới nhân viên" mdbBtn type="button" color="success" rounded="true" size="sm" class="addNewButton w-75"
                mdbWavesEffect (click)="openCreateModal()">
                <i class="fa fa-plus"></i>
              </button>

            </div>
            <div class="col-md-10">
              <!-- Search -->
              <div class="md-form">
                <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInput>
                <label for="search">Tìm kiếm</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Table-->
          <table class="table table-hover">

            <!--Table head-->
            <thead>
              <tr>
                <th>Hình ảnh</th>
                <th>Họ</th>
                <th>Tên</th>
                <th style="width: 100px; max-width: 100px">Giới tính</th>
                <th style="width: 150px; max-width: 150px">Số điện thoại</th>
                <th>Địa chỉ</th>
                <th style="width: 300px; max-width: 300px">Thao tác</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr *ngFor="let data of search()">
                <td scope="row" style="position: relative; width: 120px">
                  <img src="{{data.picture}}" alt="image" class="avatar">
                </td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.sex ? 'Nam' : 'Nữ'}}</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.address}}</td>
                <td class="d-flex justify-content-center">
                  <button title="Chi tiết" mdbBtn type="button" rounded="true" color="warning" class="waves-light col"
                    size="sm" mdbWavesEffect [routerLink]="['/employee-detail', data.id]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button title="Cập nhật" mdbBtn type="button" rounded="true" color="primary" class="waves-light col"
                    size="sm" mdbWavesEffect (click)="openUpdateModal(data)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button title="Xóa" mdbBtn type="button" rounded="true" color="danger" class="waves-light col" size="sm"
                    mdbWavesEffect (click)="openDeleteModal(data.id)">
                    <i class="fa fa-ban"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <!--Table-->

        </div>
      </div>
    </section>
  </div>
</div>
<!-- Basic example -->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="add"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới nhân viên</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="create.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row">
        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="userName" class="form-control" mdbInput [(ngModel)]="employeeCM.fullName">
          <label for="userName">Tên account</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="password" id="password" class="form-control" mdbInput [(ngModel)]="employeeCM.password">
          <label for="password">Mật khẩu</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="firstName" class="form-control" mdbInput [(ngModel)]="employeeCM.firstName">
          <label for="firstName">Họ</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="lastName" class="form-control" mdbInput [(ngModel)]="employeeCM.lastName">
          <label for="lastName">Tên</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6 ">
          <mdb-select [options]="optionsSex" id="gender" placeholder="Giới tính" [(ngModel)]="gender"></mdb-select>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="phoneNumber" class="form-control" mdbInput [(ngModel)]="employeeCM.phoneNumber">
          <label for="phoneNumber">Số điện thoại</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="address" class="form-control" mdbInput [(ngModel)]="employeeCM.address">
          <label for="address">Địa chỉ</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="email" class="form-control" mdbInput [(ngModel)]="employeeCM.email">
          <label for="email">Email</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
              [(ngModel)]="employeeCM.birthDate" [placeholder]="'Ngày sinh'">
          </div>
        </div>

        <div class="md-form mt-0 mb-3 col-md-6">
          <input type="text" id="macAddress" class="form-control" mdbInput [(ngModel)]="employeeCM.phoneMacAddress">
          <label for="macAddress">Địa chỉ MAC</label>
        </div>

        <div class="md-form mt-0 mb-3 col-md-12 ">
          <mdb-select [options]="managerList" placeholder="Người quản lý" [(ngModel)]="employeeCM.managerId"></mdb-select>
        </div>

        <div class="file-field md-form col-12 pl-0 mt-0 mb-3">
          <div mdbBtn floating="true" size="md" gradient="aqua" mdbWavesEffect>
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect (uploadOutput)="onUploadOutput($event)"
              [uploadInput]="uploadInput">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" type="text" placeholder="Chọn ảnh đại diện" [value]="showFiles()">
          </div>
          <div class="col text-center w-100" *ngIf="url">
            <img [src]="url" height="150">
          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="success" class="waves-light" mdbWavesEffect (click)="createEmployee()">Tạo mới
          <i class="fa fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="delete"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa nhân viên này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeEmployee()">Đồng ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>