<div id="laborer">
  <!-- Basic example -->
  <div class="card card-cascade narrower">
    <section>
      <div class="row">
        <div class="col-xl-6 col-lg-12 mr-0">
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0">Quản lý nhân viên</h2>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 px-5 pt-3">
          <mdb-select class="col-12" [label]="'Trạng thái làm việc của nhân viên'" [options]="employeeStatusList"
            [(ngModel)]="currentStatus" (selected)="getEmployee();"></mdb-select>
        </div>
        <div class="card-body card-body-cascade pb-0">
          <div class="d-flex flex-wrap w-100 card-body pt-3">
            <!-- Grid row -->

            <!-- Grid column -->
            <div class="col-md-2">
              <!-- Add button -->
              <button *ngIf="userAccount.roleId === 1" title="Tạo mới nhân viên" mdbBtn type="button" color="success"
                rounded="true" size="sm" class="addNewButton w-75" mdbWavesEffect (click)="openCreateModal()">
                <i class="fa fa-plus"></i>
              </button>

            </div>
            <div [ngClass]="{'col-md-10': userAccount.roleId === 1, 'col-md-12': userAccount.roleId === 2}">
              <!-- Search -->
              <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control" mdbInput (keyup)="searchEmployee()">
                <label>Tìm kiếm</label>
              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!--Table-->
          <table class="table table-hover" *ngIf="employeeResponse?.totalElements !== 0">

            <!--Table head-->
            <thead>
              <tr>
                <th class="text-center">Hình ảnh</th>
                <th (click)="sort('employeeId')">
                  Mã số
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('firstName')">
                  Họ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('lastName')">
                  Tên
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('roleId')" style="width: 100px; max-width: 100px">
                  Chức vụ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th *ngIf="userAccount.roleId === 1" (click)="sort('roleId')" style="width: 150px; max-width: 150px">
                  Người quản lý
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('phoneNumber')" style="width: 140px; max-width: 140px">
                  Số điện thoại
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th (click)="sort('address')">
                  Địa chỉ
                  <mdb-icon icon="sort"></mdb-icon>
                </th>
                <th *ngIf="userAccount.roleId === 2">Trạng thái</th>
                <th *ngIf="currentStatus !== 0">Thao tác</th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
              <tr
                *ngFor="let data of employeeList">
                <td scope="row" style="position: relative; width: 120px">
                  <img src="{{data.picture || defaultImage}}" alt="image" class="avatar">
                </td>
                <td>{{data.employeeId}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td [ngClass]="{'text-danger' : data.roleId === 2}">{{data.roleName}}</td>
                <td *ngIf="userAccount.roleId === 1 && data.managerName" class="text-danger">{{data.managerName}}</td>
                <td *ngIf="userAccount.roleId === 1 && !data.managerName">Không có người quản lý</td>
                <td>{{data.phoneNumber}}</td>
                <td>{{data.address}}</td>
                <td *ngIf="userAccount.roleId === 2" class="text-nowrap">
                  <div class="switch rounded blue-white-switch">
                    <label>
                      Tạm nghỉ
                      <input type="checkbox" (change)="switch($event, data.id)" [checked]="data.status === 1">
                      <span class="lever"></span> Làm việc
                    </label>
                  </div>
                </td>
                <td class="d-flex justify-content-start" *ngIf="currentStatus !== 0">
                  <button *ngIf="data.roleId !== 2" title="Chi tiết" mdbBtn type="button" rounded="true" color="warning"
                    class="waves-light" size="sm" mdbWavesEffect [routerLink]="['/employee-detail', data.id]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button *ngIf="data.roleId === 2" title="Chi tiết" mdbBtn type="button" rounded="true" color="warning"
                    class="waves-light" size="sm" mdbWavesEffect [routerLink]="['/manager-detail', data.id]">
                    <i class="fa fa-eye"></i>
                  </button>
                  <!-- <button *ngIf="userAccount.roleId === 1" title="Cập nhật" mdbBtn type="button" rounded="true"
                    color="primary" class="waves-light" size="sm" mdbWavesEffect (click)="openUpdateModal(data)">
                    <i class="fa fa-pencil"></i>
                  </button> -->
                  <button *ngIf="userAccount.roleId === 1" title="Xóa" mdbBtn type="button" rounded="true"
                    color="danger" class="waves-light" size="sm" mdbWavesEffect (click)="checkConstraint(data.id)">
                    <i class="fa fa-ban"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <!--Table body-->
          </table>
          <app-pagination class="w-100" *ngIf="employeeResponse?.totalPages > 1" [pageSize]="employeeResponse.size"
            [totalPage]="employeeResponse.totalPages" [currentPage]="employeeResponse.number"
            (changePage)="changePage($event)">
          </app-pagination>
          <div *ngIf="employeeResponse?.totalElements === 0" class="col-12 px-5 pb-3">
            <h6 class="text-danger font-weight-normal">Không tìm thấy kết quả phù hợp</h6>
          </div>
          <!--Table-->

        </div>
      </div>
    </section>
  </div>
</div>
<!-- Basic example -->

<div mdbModal #create="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Tạo mới nhân viên</p>
      </div>
      <div class="modal-body mx-3 row">
        <form (ngSubmit)="createEmployee()" #createForm="ngForm" class="d-flex flex-wrap w-100">

          <div class="col-md-12 text-left pb-3 px-0">
            <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
          </div>

          <div class="md-form mt-2 mb-2 col-md-12 ">

            <mdb-select
              id="role"
              name="role"
              required
              [label]="'Chức vụ*'"
              [options]="roleList"
              [class.ng-invalid.validate-error]="roleId.invalid && (roleId.dirty || roleId.touched)"
              #roleId="ngModel"
              [(ngModel)]="role"
              (selected)="selectRole($event)"
              >
              </mdb-select>
            <span class="text-danger font-weight-normal" *ngIf="roleId.invalid && (roleId.dirty || roleId.touched)" style="font-size: .8rem">Vui lòng chọn chức vụ</span>

          </div>

          <div class="md-form mt-2 mb-2 col-md-12" *ngIf="employeeCM.roleId === 2">
            <input
              type="text"
              id="email"
              class="form-control"
              name="email"
              mdbInput
              required
              [(ngModel)]="employeeCM.email"
              (blur)="checkEmailExist()"
              #email=ngModel
              [class.ng-invalid.validate-error]="(email.invalid && (email.dirty || email.touched)) || isExist">
            <label for="email">Email*</label>

            <mdb-error *ngIf="(email.invalid && (email.dirty || email.touched)) || isExist">
              <span *ngIf="email?.errors?.required" class="font-weight-normal">Vui lòng nhập email</span>
              <span *ngIf="isExist && !email?.errors?.required" class="font-weight-normal">Email đã tồn tại</span>
            </mdb-error>
          </div>

          <div class="md-form mt-2 mb-2 col-md-12" *ngIf="employeeCM.roleId === 3">
            <mdb-select
              id="manager"
              name="manager"
              [label]="'Người quản lý'"
              [options]="managerList"
              #managerId="ngModel"
              (selected)="selectManager($event)"
              ngModel
              >
            </mdb-select>
          </div>

          <div class="md-form my-3 col-md-6">
            <input 
              type="text" 
              id="employeeId" 
              class="form-control" 
              name="employeeId"
              mdbInput
              required
              [(ngModel)]="employeeCM.employeeId"
              (blur)="checkDuplicateId()" 
              #employeeId=ngModel
              [class.ng-invalid.validate-error]="(employeeId.invalid && (employeeId.dirty || employeeId.touched)) || isDuplicate"
              >
            <label for="employeeId">Mã số nhân viên*</label>
            <mdb-error *ngIf="(employeeId.invalid && (employeeId.dirty || employeeId.touched)) || isDuplicate">
              <span *ngIf="employeeId?.errors?.required" class="font-weight-normal">Vui lòng nhập mã số nhân viên</span>
              <span *ngIf="isExist && !employeeId?.errors?.required" class="font-weight-normal">Mã số nhân viên đã tồn tại</span>
            </mdb-error>
          </div>

          <div class="md-form my-3 col-md-6">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              mdbInput
              required
              [(ngModel)]="employeeCM.password"
              #password=ngModel
              [class.ng-invalid.validate-error]="(password.invalid && (password.dirty || password.touched))"
              >
            <label for="password">Mật khẩu*</label>
            <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">
              <span *ngIf="password?.errors?.required" class="font-weight-normal">Vui lòng nhập mật khẩu</span>
            </mdb-error>
          </div>

          <div class="md-form my-3 col-md-6">
            <input 
            type="text" 
            id="firstName" 
            name="firstName"
            class="form-control" 
            mdbInput 
            required
            #firstName=ngModel
            [(ngModel)]="employeeCM.firstName"
            [class.ng-invalid.validate-error]="(firstName.invalid && (firstName.dirty || firstName.touched))"
            >
            <label for="firstName">Họ*</label>
            
            <mdb-error *ngIf="(firstName.invalid && (firstName.dirty || firstName.touched))">
              <span *ngIf="firstName?.errors?.required" class="font-weight-normal">Vui lòng nhập họ nhân viên</span>
            </mdb-error>

          </div>

          <div class="md-form my-3 col-md-6">
            <input 
            type="text" 
            id="lastName" 
            name="lastName" 
            class="form-control" 
            mdbInput
            required
            #lastName=ngModel
            [(ngModel)]="employeeCM.lastName"
            [class.ng-invalid.validate-error]="(lastName.invalid && (lastName.dirty || lastName.touched))"
            >
            <label for="lastName">Tên*</label>
            
            <mdb-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <span *ngIf="lastName?.errors?.required" class="font-weight-normal">Vui lòng nhập tên nhân viên</span>
            </mdb-error>

          </div>

          <div class="md-form my-3 col-md-6 ">
            <mdb-select
              name="sex"
              required
              [label]="'Giới tính*'"
              [options]="optionsSex"
              id="gender"
              [class.ng-invalid.validate-error]="sex.invalid && (sex.dirty || sex.touched)"
              #sex="ngModel"
              [(ngModel)]="gender">
            </mdb-select>
            <span class="text-danger font-weight-normal" *ngIf="sex.invalid && (sex.dirty || sex.touched)" style="font-size: .8rem">Vui lòng chọn giới tính</span>
          </div>

          <div class="md-form my-3 col-md-6">
            <input 
            type="text" 
            id="phoneNumber" 
            name="phoneNumber" 
            class="form-control" 
            mdbInput
            required
            #phoneNumber=ngModel
            (blur)="checkPhoneExist()"
            [(ngModel)]="employeeCM.phoneNumber"
            [class.ng-invalid.validate-error]="(phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) || isExistPhone)"
            >
            <label for="phoneNumber">Số điện thoại*</label>
            
            <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) || isExistPhone">
              <span *ngIf="isExistPhone && !phoneNumber?.errors?.required" class="font-weight-normal">Số điện thoại đã tồn tại</span>
              <span *ngIf="phoneNumber?.errors?.required" class="font-weight-normal">Vui lòng nhập số điện thoại</span>
            </mdb-error>

          </div>


          <owl-form-field class="col-md-6 mt-3">
            <input
              owlInput
              name="birthday"
              [owlDateTimeTrigger]="datepicker"
              [owlDateTime]="datepicker"
              placeholder="Ngày sinh"
              [(ngModel)]="employeeCM.birthDate"
              required
              #dateTime="ngModel">
            <owl-date-time #datepicker [pickerType]="'calendar'"></owl-date-time>
            <owl-error *ngIf="dateTime?.errors?.required">
                Vui lòng nhập ngày sinh
            </owl-error>
          </owl-form-field>

          <div class="md-form my-3 col-md-6">
            <input 
            type="text" 
            id="macAddress" 
            name="macAddress" 
            class="form-control" 
            mdbInput
            required
            #macAddress=ngModel
            (blur)="checkPhoneMacAddress()"
            [(ngModel)]="employeeCM.phoneMacAddress"
            [class.ng-invalid.validate-error]="(macAddress.invalid && (macAddress.dirty || macAddress.touched) || isExistMac)"
            >
            <label for="macAddress">Địa chỉ MAC*</label>

            <mdb-error *ngIf="(macAddress.invalid && (macAddress.dirty || macAddress.touched) || isExistMac)">
              <span *ngIf="isExistMac && !macAddress?.errors?.required" class="font-weight-normal">Địa chỉ MAC đã tồn tại</span>
              <span *ngIf="macAddress?.errors?.required" class="font-weight-normal">Vui lòng nhập địa chỉ MAC điện thoại</span>
            </mdb-error>

          </div>

          <div class="col-md-12">
            <div class="md-form my-3 form-inline mr-auto w-100">

              <input
                type="text"
                class="form-control w-100"
                id="searchField"
                name="searchField"
                mdbInput
                required
                #address=ngModel
                [class.ng-invalid.validate-error]="(address.invalid && (address.dirty || address.touched))"
                [(ngModel)]='location.address_level_1'
                (keyup)="updateOnMap()"
                >
                
              <label for="searchField">Địa chỉ*</label>

              <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
                <span *ngIf="address?.errors?.required" class="font-weight-normal">Vui lòng nhập địa chỉ</span>
              </mdb-error>

            </div>
          </div>

          <div class="col-md-12">
            <agm-map #map [mapTypeId]="'terrain'" [latitude]="location.lat" [longitude]="location.lng"
              [zoom]="location.zoom" style="height: 300px">
              <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
            </agm-map>
          </div>

          <div class="file-field md-form col-12 pl-0 mt-1 mb-3">
            <div mdbBtn floating="true" size="md" color="success" mdbWavesEffect>
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              <input type="file" accept="image/*" (change)="onSelectFile($event)" mdbFileSelect
                (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
            </div>
            <div class="file-path-wrapper mt-3">
              <input class="file-path" type="text" placeholder="Chọn ảnh đại diện" [value]="showFiles()" disabled>
            </div>
          </div>
          <div class="col text-center w-100" *ngIf="url">
            <img [src]="url" height="150">
          </div>
          <div class="col-12 text-center mt-3 border-top pt-3">
            <button mdbBtn color="success" class="waves-light" mdbWavesEffect [disabled]="!createForm.form.valid">Tạo mới
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div mdbModal #delete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Xóa nhân viên này?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
        <p class="h6 font-weight-bold">
          Bạn có muốn tiếp tục xóa?
        </p>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="removeEmployee()">Đồng
          ý</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="delete.hide()">Hủy</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #warning="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Cảnh báo</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-warning fa-4x animated rotateIn"></i>
        <p class="h6 font-weight-bold">Bạn không thể xóa vì: </p>
        <div *ngFor="let m of warningMessage">
          <p class="h6 font-weight-bold">
            {{m}}
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal"
          (click)="warning.hide()">Đóng</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>