span {
  font-size: 40px;
}
.cascading-dashboard-card {
  margin-top: 20px;
  .dashboard-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
    .fa {
      padding: 1.7rem;
      font-size: 2rem;
      color: #fff;
      text-align: left;
      margin-right: 1rem;
      border-radius: 3px;
      box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
    }
    .data {
      float: right;
      margin-top: 2rem;
      text-align: right;
      p {
        color: #999;
        font-size: 12px;
      }
    }
  }
}
.date-range-form {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

}