<div class="row d-flex mb-4">
  <div class="col-xl-3 col-md-6 my-5">
    <div class="card card-cascade cascading-dashboard-card">
      <div class="dashboard-up"><i class="fa fa-tasks primary-color"></i>
        <div class="data">
          <p>TỔNG SỐ CÔNG VIỆC</p>
          <h4><strong>5</strong></h4>
        </div>
      </div>
      <div class="card-body card-body-cascade">
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-primary" role="progressbar"
            style="width: 25%"></div>
        </div>
        <p class="card-text">Better than last week (25%)</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 my-5">
    <div class="card card-cascade cascading-dashboard-card">
      <div class="dashboard-up"><i class="fa fa-check success-color"></i>
        <div class="data">
          <p>ĐÃ HOÀN THÀNH</p>
          <h4><strong>1</strong></h4>
        </div>
      </div>
      <div class="card-body card-body-cascade">
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar"
            style="width: 25%"></div>
        </div>
        <p class="card-text">Better than last week (25%)</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 my-5">
    <div class="card card-cascade cascading-dashboard-card">
      <div class="dashboard-up"><i class="fa fa-minus blue-grey"></i>
        <div class="data">
          <p>CHƯA HOÀN THÀNH</p>
          <h4><strong>2</strong></h4>
        </div>
      </div>
      <div class="card-body card-body-cascade">
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar blue-grey" role="progressbar"
            style="width: 25%"></div>
        </div>
        <p class="card-text">Better than last week (25%)</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 my-5">
    <div class="card card-cascade cascading-dashboard-card">
      <div class="dashboard-up"><i class="fa fa-close red accent-2"></i>
        <div class="data">
          <p>QUÁ HẠN</p>
          <h4><strong>2</strong></h4>
        </div>
      </div>
      <div class="card-body card-body-cascade">
        <div class="progress">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar red accent-2" role="progressbar"
            style="width: 25%"></div>
        </div>
        <p class="card-text">Better than last week (25%)</p>
      </div>
    </div>
  </div>
</div>
<div class="card card-cascade narrower mb-5">
  <section>
    <div class="row">
      <div class="col-xl-5 col-lg-12 mr-0" style="position: relative">
        <div class="view view-cascade gradient-card-header light-blue lighten-1">
          <h2 class="h2-responsive mb-0">Công việc</h2>
        </div>
        <div class="card-body card-body-cascade pb-0" class="date-range-form">
          <div class="d-flex flex-wrap card-body pt-3">
            <div class="col-md-12">
              <input type="text" placeholder="Chọn khoảng thời gian" aria-describedby="time" class="form-control" bsDaterangepicker [bsConfig]="{ containerClass: 'theme-dark-blue' }" [(ngModel)]="dateRange" placement="right">
            </div>
            <div class="col-md-12 text-center">
              <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect (click)="search()">Tìm kiếm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-12 my-5">
        <!-- <div style="display: block">
          <canvas mdbChart
              [chartType]="'line'"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered()"
              (chartClick)="chartClicked()">
          </canvas>
        </div> -->
        <div style="display: block">
          <canvas mdbChart
              [chartType]="'bar'"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true">
          </canvas>
        </div>
      </div>
    </div>
  </section>
</div>