/* You can add global styles to this file, and also import other style files */
nav.navbar.fixed-top.navbar-toggleable-md.navbar-expand-lg.scrolling-navbar.double-nav {
  color: white;
  background-color: #3f5c80;
}
html {
  height: 100vh;
}