<div class="modal-header d-flex justify-content-center">
  <p class="heading">Cập nhật thông tin</p>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mx-3 row">
  <form (ngSubmit)="changePassword()" #updateForm="ngForm" class="d-flex flex-wrap w-100">

    <div class="col-md-12 text-left pb-3">
      <span class="text-danger font-weight-normal">(*) Thông tin bắt buộc</span>
    </div>

    <div class="md-form my-3 col-md-12">
      <input 
      type="password" 
      id="oldPassword" 
      name="oldPassword"
      class="form-control" 
      mdbInput 
      required
      #oldPassword=ngModel
      [(ngModel)]="oldPass"
      [class.ng-invalid.validate-error]="(oldPassword.invalid && (oldPassword.dirty || oldPassword.touched))"
      >
      <label for="oldPassword">Mật khẩu cũ*</label>
      
      <mdb-error *ngIf="(oldPassword.invalid && (oldPassword.dirty || oldPassword.touched))">
        <span *ngIf="oldPassword?.errors?.required" class="font-weight-normal">Vui lòng nhập mật khẩu cũ</span>
      </mdb-error>

    </div>

    <div class="md-form my-3 col-md-12">
      <input 
      type="password" 
      id="password" 
      name="password"
      class="form-control" 
      mdbInput 
      required
      #_password=ngModel
      [(ngModel)]="password"
      [class.ng-invalid.validate-error]="(_password.invalid && (_password.dirty || _password.touched))"
      >
      <label for="password">Mật khẩu mới*</label>
      
      <mdb-error *ngIf="(_password.invalid && (_password.dirty || _password.touched))">
        <span *ngIf="_password?.errors?.required" class="font-weight-normal">Vui lòng nhập mật khẩu mới</span>
      </mdb-error>

    </div>

    <div class="md-form my-3 col-md-12">
      <input 
      type="password" 
      id="confirm" 
      name="confirm" 
      class="form-control" 
      mdbInput
      required
      #_confirm=ngModel
      [(ngModel)]="confirm"
      [class.ng-invalid.validate-error]="(_confirm.invalid || _password.value !== _confirm.value)  && (_confirm.dirty || _confirm.touched)"
      >
      <label for="confirm">Xác nhận mật khẩu*</label>
      
      <mdb-error *ngIf="(_confirm.invalid || _password !== _confirm) && (_confirm.dirty || _confirm.touched)">
        <span *ngIf="_confirm?.errors?.required" class="font-weight-normal">Vui lòng xác nhận mật khẩu</span>
        <span *ngIf="!_confirm?.errors?.required && _password.value !== _confirm.value" class="font-weight-normal">Mật khẩu xác nhận chưa trùng khớp</span>
      </mdb-error>

      <!-- <mdb-error *ngIf="_password !== _confirm">
        <span *ngIf="_password !== _confirm" class="font-weight-normal">Mật khẩu xác nhận chưa trùng khớp</span>
      </mdb-error> -->
      
    </div>

    
    <div class="col-12 text-center mt-3 border-top pt-3">
      <button mdbBtn color="primary" class="waves-light" outline="true" mdbWavesEffect [disabled]="!updateForm.form.valid">Cập nhật
      </button>
      <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="modalRef.hide()">Hủy
      </button>
    </div>
  </form>

</div>