<div class="row">
  <div class="col-md-5 mx-auto">
    <mdb-card class="form-elegant">
      <mdb-card-body class="mx-4">
        <!--Header-->
        <div class="text-center">
          <h3 class="dark-grey-text mb-5">
            <img src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfW+4uW8BVCjkKUgzNuaTdA9wlrlSU7w6wytLhuJxwF5VYOixAHcs4=" class="img-fluid flex-center">
          </h3>
        </div>

        <form class="pt-5">
          <div class="md-form">
            <input type="text" id="elegantFormEmailEx" name="oem-name" class="form-control" mdbInputDirective>
            <label for="elegantFormEmailEx">Your email</label>
          </div>

          <div class="md-form pb-3">
            <input type="password" id="elegantFormPasswordEx" class="form-control" mdbInputDirective>
            <label for="elegantFormPasswordEx">Your password</label>
            <p class="font-small blue-text d-flex justify-content-end">Forgot
              <a href="#" class="blue-text ml-1"> Password?</a>
            </p>
          </div>
        </form>
        <!--Body-->

        <div class="text-center mb-3">
          <button type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect (click)="login()">Sign in</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

        <div class="row my-3 d-flex justify-content-center">
          <!--Facebook-->
          <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-facebook blue-text text-center"></i>
          </button>
          <!--Twitter-->
          <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-twitter blue-text"></i>
          </button>
          <!--Google +-->
          <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus blue-text"></i>
          </button>
        </div>
      </mdb-card-body>
    </mdb-card>

  </div>
</div>