<div class="row m-0">
  <div class="col-md-6 mx-auto">
    <mdb-card class="form-elegant">
      <mdb-card-body class="mx-4">
        <!--Header-->
        <div class="text-center">
          <h3 class="dark-grey-text mb-5">
            <img src="../../../../assets/logo.png" class="img-fluid flex-center">
          </h3>
        </div>

        <form class="pt80">
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input
              type="text"
              id="email"
              name="oem-name"
              class="form-control"
              [class.has-error]="input.invalid && (input.dirty || input.touched)"
              required
              #input="ngModel"
              mdbInput
              mdbValidate
              [(ngModel)]="email"
              pattern="[^ @]*@[^ @]*">
            <label for="email">Email</label>
            <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">
              <p *ngIf="input?.errors.required">
                Vui lòng nhập email
              </p>
            </mdb-error>
          </div>

          <div class="md-form pb-3">
            <i class="fa fa-lock prefix grey-text"></i>
            <input
              type="password"
              id="password"
              name="oem-password"
              class="form-control"
              [class.has-error]="pass.invalid && (pass.dirty || pass.touched)"
              required
              mdbInput
              mdbValidate
              [(ngModel)]="password"
              #pass="ngModel">
            <label for="password">Mật khẩu</label>
            <mdb-error *ngIf="pass.invalid && (pass.dirty || pass.touched)">
              <p *ngIf="pass?.errors.required">
              Vui lòng nhập mật khẩu         
              </p>
            </mdb-error>
          </div>

          <p *ngIf="wrongUsernameOrPassword" class="text-danger text-center">
            Sai tên đăng nhập hoặc mật khẩu
            <br>
            Vui lòng thử lại!      
          </p>

        </form>
        <!--Body-->

        <div class="text-center mb-3">
          <button type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect (click)="login()">Đăng nhập</button>
        </div>
        <!-- <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p> -->

        <div class="row my-3 d-flex justify-content-center">
          <!--Facebook-->
          <!-- <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-facebook blue-text text-center"></i>
          </button> -->
          <!--Twitter-->
          <!-- <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-twitter blue-text"></i>
          </button> -->
          <!--Google +-->
          <!-- <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus blue-text"></i>
          </button> -->
        </div>
      </mdb-card-body>
    </mdb-card>

  </div>
</div>